openapi: 3.0.3
info:
  title: 'Wallfacer API v1'
  description: 'The Wallfacer API provides two tiers of infrastructure access: a managed Task API for AI-powered coding sessions, and an IaaS VM API for direct virtual machine control.'
  version: 1.0.0
servers:
  -
    url: 'https://api.wallfacer.ai'
tags:
  -
    name: Accounts
    description: 'Manage accounts. Every resource (environments, tasks, VMs) belongs to an account.'
  -
    name: Environments
    description: 'Environments define how a VM is set up: which repo to clone, what commands to run, and what services to start. Create an environment once, then use it to boot VMs or start tasks.'
  -
    name: 'Virtual Machines'
    description: 'Create, manage, and destroy VMs. VMs are always booted from an environment: you pick the environment, and everything else is derived from it.'
  -
    name: Tasks
    description: 'A task represents a unit of work, such as "fix the login bug" or "add dark mode." Create a task, then open sessions against it to start coding conversations.'
  -
    name: 'Account Users'
    description: 'Manage membership and roles on an account. Admins+ can add, update, and remove users.'
  -
    name: 'Agent Handles'
    description: 'A handle is the one name an agent answers to everywhere: the part before the `@` in its email address, and the name people type after the `@` in Slack. It has to satisfy both systems at once, and it is never reused, so check a candidate here before you hire or rename an agent rather than finding out when the accounts are created.'
  -
    name: 'Agent Identities'
    description: 'The accounts an agent holds on external systems, so you can see what it can reach and grant or revoke each one. A Google account gives the agent a real address in your agent domain, a mailbox, and the ability to be shared documents the way a colleague is. A Slack app gives it its own name, avatar, handle and direct-message conversation in your workspace. Each account is addressed by the name of the system it is on, so granting one is a single request against a fixed address.'
  -
    name: 'Agent Journal'
    description: "An agent's own memory: short notes it writes for itself about work it has done and people it has worked with, and reads back in every session that follows. The agent decides what goes in and nothing approves it, so the journal is how an agent gets better at your work over time rather than starting each task from nothing. Everything in it is readable here, by anyone on the account. This is a read-only view: entries are written by the agent while it works."
  -
    name: 'Agent Objectives'
    description: "What an agent is driving toward. An objective is a standing statement of intent with\nno deadline: \"keep response time on customer bug reports under one business day\", not\n\"answer this ticket\". The agent reads its objectives while it decides what matters,\nand files the commitments it takes on against them, so you can see what a piece of\nwork was in service of.\n\nYou write objectives; the agent does not write its own. Any member of the account can\ncreate, edit, and close one. The agent's own side is reading them and closing one when\nit is genuinely met, abandoned, or replaced, and it records a line of reasoning when\nit does."
  -
    name: 'Agent Todos'
    description: "What an agent owes. A todo is a commitment the agent wrote down while it worked: \"check\nwhether the migration finished on Thursday\", \"follow up with the reporter once the fix\nships\". A todo can carry a due time, and when that time arrives the agent is started on\na conversation with the todo as its prompt, so a promise made on Monday happens on\nThursday without anybody chasing it.\n\nThis is a read-only view, and deliberately so: the agent is the only author. You add a\ntodo by asking the agent for it in conversation, the same way you would ask a colleague,\nand it writes it down. Objectives are the half you author, through the objectives\nendpoints."
  -
    name: Agents
    description: 'Agents are the identities your account runs autonomous work as. Each has a title, a job description (a handbook page), the single environment it works in, and the model that powers it. An automated step names the agent that runs it. Disabling an agent keeps its history but removes it from new work.'
  -
    name: Attachments
    description: "Attachments carry arbitrary content along with a task, such as a ticket body, an external reference, or a file. Text content is prepended to the agent's first message; binary and URI-only content is referenced but not fetched."
  -
    name: Audit
    description: 'Admin-only. Returns audit rows across three streams: execution (what happened on tasks), policy (configuration changes), and access (who looked at what).'
  -
    name: Connections
    description: 'The external systems your account is linked to. A connection is established once, by an admin, and everything your agents do on that system sits inside it. Connecting Slack is what lets each of your agents have its own app there, with its own name, avatar and direct-message conversation.'
  -
    name: Credentials
    description: "Hand an agent a login the way you hand a new hire one. A credential belongs to the account, is granted to agents one at a time, and reaches a granted agent's work as a named variable it can use but never read. Values are write-only: once stored, no endpoint returns one, and replacing it is the only way to change it. Revoking a grant takes effect on the agent's next session."
  -
    name: Directory
    description: "Everybody the account knows: its members, its AI employees, and everybody its agents have met on a channel. One row per person, kept rather than assembled, so somebody last heard from years ago still resolves and everything ever written about them joins under one reference.\n\nThe two things you can change here are how a person wants to be written to, and whether two rows are actually one person."
  -
    name: Endpoints
    description: ''
  -
    name: 'Event keys'
    description: "Account-owned keys for ingesting events. Unlike a personal API token, an event key\nbelongs to the account rather than to the person who created it, so it keeps working\nafter that person leaves the account. Use one per integration that sends events to\nyour account (for example, one per webhook source), and revoke them individually.\n\nAn event key authenticates only the event-ingest endpoint (`POST /v1/accounts/{account}/events`).\nIt cannot create tasks, environments, or VMs, or read any account data. Managing keys\n(listing, creating, revoking) requires an admin or owner of the account."
  -
    name: Events
    description: 'Lifecycle event timeline for environment snapshot generation. One row per state transition (setup started, service healthy, environment ready, etc.).'
  -
    name: 'Inbound webhook collectors'
    description: "Account-owned inbound URLs. Each collector gives you a unique URL you paste into an\nexternal system's webhook settings (for example Sentry, Linear, HubSpot, or Stripe).\nWhatever that system POSTs to the URL is captured as an event on your account stream,\nwhere your automation can match on it. No per-system code: the raw payload lands in\nthe event `data` and your conditions read into it.\n\nLike an event key, a collector belongs to the account rather than to the person who\ncreated it, so it keeps working after that person leaves. The full URL carries the\ncollector's secret, so treat it as a credential; you can read it again at any time by\nlisting collectors, and rotate it if it ever leaks. Managing collectors (listing,\ncreating, rotating, deleting) requires an admin or owner of the account."
  -
    name: 'Inbound webhooks'
    description: "Public collector URLs that turn any external system's webhook into an event on your account stream. Create and manage collectors from your account settings, paste the URL into the external system, and the payloads land in your event stream where your automation can match on them."
  -
    name: Invitations
    description: 'Create and manage account invitations. Invitations are for emails that do not yet belong to a Wallfacer user; once accepted, the invitee is attached to the account with the invited role.'
  -
    name: Logs
    description: "Per-manifest-step logs for VMs and environment snapshots. Each entry captures one step's stdout/stderr, status, exit code, and timing."
  -
    name: 'MCP connections'
    description: 'Sign in to the MCP servers on an environment that authenticate with OAuth. A server configured as `{url, auth: {type: "oauth"}}` cannot be used until somebody has signed in to it once: creating a connection returns a link to the provider''s own consent screen, and the grant it produces is held encrypted and renewed in the background from then on. Servers that carry a header you supply need none of this.'
  -
    name: Pages
    description: 'Handbook pages hold the knowledge half of your handbook: markdown guidance (how to write a great pull request, how to evaluate an idea) that AI agents receive when they run related playbooks. Pages also organize the handbook: a page can hold sub-pages and playbooks, so a page doubles as a section.'
  -
    name: 'Pipeline Versions'
    description: 'Each pipeline keeps an immutable history of versions. Tasks pin to the version active at the time they were created and continue running on that pinned version even after the pipeline publishes a newer one. Publish a new version to change pipeline behavior.'
  -
    name: Pipelines
    description: 'Handbook pipelines define what your AI and humans do for a task: an ordered list of steps (AI or human approval) plus triggers that spawn new tasks from inbound events.'
  -
    name: Search
    description: 'Search across an account in one request. A single query returns matching environments, tasks, sessions, handbook pages, and pipelines, grouped by type.'
  -
    name: Secrets
    description: "Manage encrypted environment secrets. Reference a secret as `${secrets.NAME}` from any string-valued field in the environment's manifest (env values, command lines, working directories, healthcheck URLs and commands, source repo and branch fields, callback URLs); the platform substitutes the decrypted value before the manifest reaches the booting VM. A reference to a secret that does not exist on the environment fails the boot with a diagnostic listing every unresolved name. Values are write-only after creation; once stored, a value cannot be retrieved through any endpoint and must be rotated to replace."
  -
    name: Snapshots
    description: 'Manage snapshots of environments. Each snapshot represents one generation attempt. Successful ones are `ready`; failed ones are preserved so their logs can be inspected.'
  -
    name: 'Task Actions'
    description: 'Every step execution on a task surfaces here. List them to see what the AI or a human has done, resolve a pending human approval, or cancel an in-flight step.'
  -
    name: 'Task Audit'
    description: 'A single, exportable record of a complete task run: the exact playbook version it followed, every step with who or what performed it and the verdict it produced, and the full event timeline.'
  -
    name: 'Task Events'
    description: 'Per-task projection of the event stream. Returns every event attached to the task, whether the caller ingested it directly with `task_ids`, an account-scoped routing pipeline routed it, or a pipeline automation emitted it.'
  -
    name: Uploads
    description: "Files you send to storage directly, then attach to a task, a session, or a message.\n\nSmall supporting material can travel inside a create request as `inputs[].text` or\n`inputs[].content_base64`. Larger material cannot: an API request has a transport size\nlimit well below what a single input may hold, and a request over it fails before we\ncan tell you why. An upload moves the bytes off that path. You declare the file, send\nit straight to storage over a URL we sign for exactly those bytes, and then name the\nupload where the content would have gone.\n\nThree steps:\n\n1. `POST /v1/accounts/{account}/uploads` with the file's name, exact byte size, and\n   SHA-256. The response carries `upload_url` and `upload_headers`.\n2. `PUT` the file to `upload_url` with those headers, exactly as returned. Storage\n   refuses a body of a different length or with different contents.\n3. `PATCH /v1/accounts/{account}/uploads/{upload}` with `{\"status\": \"ready\"}`. The\n   stored file is checked against what you declared, and the upload becomes usable.\n\nThen pass `{\"inputs\": [{\"upload_id\": \"...\"}]}` to task, session, or message create. The\ninstruction itself stays ordinary prompt text; an upload is material the agent opens\nwith its file tools, never the instruction.\n\nAn upload can back exactly one input. Unused uploads expire, and are removed with their\nfile, after 30 minutes."
components:
  securitySchemes:
    default:
      type: http
      scheme: bearer
      description: 'Authenticate using a Bearer token created at `POST /v1/tokens`. Pass it in the `Authorization` header as `Bearer {YOUR_TOKEN}`.'
  schemas:
    Account:
      type: object
      properties:
        id:
          type: string
          description: 'Account ID. Most other endpoints are nested under `/accounts/{id}/` and take this value.'
        name:
          type: string
          description: 'Human-readable account name, as chosen by the account owner.'
        activation_state:
          type: string
          description: "Whether the account has been granted access to the product. New accounts start out awaiting review and cannot use product features until they are activated:\n\n- `pending`: the account is awaiting activation and cannot yet use the product.\n- `active`: the account has been activated and has full access.\n- `paused`: access was activated and later suspended.\n- `rejected`: the account was reviewed and not granted access."
          enum:
            - pending
            - active
            - paused
            - rejected
        activated_at:
          type: string
          nullable: true
          description: 'ISO 8601 timestamp of when the account was activated, or `null` if it has not been activated.'
        avatar_url:
          type: string
          nullable: true
          description: "A temporary URL to the account's avatar image, or `null` when no avatar has been uploaded. The URL expires a few hours after it is issued, so treat it as short-lived: re-read the account rather than storing it. When it is `null`, render your own placeholder."
        created_at:
          type: string
          description: 'ISO 8601 timestamp of when the account was created.'
        updated_at:
          type: string
          description: 'ISO 8601 timestamp of the most recent update to the account record.'
    AccountUser:
      type: object
      properties:
        id:
          type: integer
          description: 'User ID. Use this wherever a user is referenced by ID (for example, `created_by` on tasks).'
        name:
          type: string
          description: 'Full name as stored on the user account.'
        email:
          type: string
          description: 'Primary email on the user account.'
        avatar_url:
          type: string
        github_username:
          type: string
          nullable: true
          description: 'GitHub login connected to this user. Null when the user has not linked a GitHub account.'
        role:
          type: string
          nullable: true
          description: "The user's role on this account:\n\n- `owner`: full control, including changing ownership and removing other owners.\n- `admin`: can add, remove, and update other members, but cannot grant or modify the `owner` role.\n- `member`: can use the API against this account but cannot change membership."
          enum:
            - owner
            - admin
            - member
        joined_at:
          type: string
          nullable: true
          description: 'ISO 8601 timestamp of when the user joined the account.'
        removed_at:
          type: string
          nullable: true
          description: 'ISO 8601 timestamp of when the user was removed from the account. Null while the user is an active member.'
    Agent:
      type: object
      properties:
        id:
          type: integer
          description: 'Unique id of the agent. Reference it as the actor of an automated step in the form `user:<id>`.'
        display_name:
          type: string
          nullable: true
          description: 'Name shown wherever this agent acts, in run history, and in the actor picker.'
        handle:
          type: string
          description: 'The name the agent answers to everywhere: the part before the @ in `email`, and the name people type after the @ in Slack. Unique within the account, and never reused once an agent has had it.'
        email:
          type: string
          nullable: true
          description: "The agent's email address. Present from the moment the agent exists, but only deliverable once it has been given a Google account: check `email_routable` before showing it as something to copy or share a document with."
        email_routable:
          type: boolean
          description: 'Whether mail sent to `email` is actually delivered. False until the agent has a Google account, during which time the address resolves nowhere. A share sent to a non-routable address is accepted by Google and delivered to nobody, so never offer the address to a customer while this is false.'
        title:
          type: string
          nullable: true
          description: 'Display title describing the role the agent fills, for example "Support Engineer".'
        role_page_id:
          type: string
          nullable: true
          description: "Id of the handbook page that serves as the agent's job description. The page is given to the agent as its role when it works. Null when no role is set."
        environment_id:
          type: string
          nullable: true
          description: 'Id of the single environment the agent works in. Null when no environment is assigned.'
        vendor:
          type: string
          nullable: true
          description: 'The AI vendor that powers the agent, for example "claude". Null when left to the account default.'
        model:
          type: string
          nullable: true
          description: 'The model the agent runs on. Null when left to the vendor default.'
        harness_effort:
          type: string
          nullable: true
          description: 'Reasoning effort the agent works at, in its vendor''s own vocabulary: "low", "medium", "high" for claude and grok; "minimal", "low", "medium", "high", "xhigh" for codex. Set it with the `effort` field on update. Null when left to the harness default, and always null for a vendor with no effort control. Call `GET /models` for each vendor''s options and default.'
        effort_label:
          type: string
          nullable: true
          description: 'Display name for `harness_effort`, for example "Extra High". Render this rather than title-casing the id. Null whenever `harness_effort` is null, or when the stored value is no longer one the vendor offers.'
        disabled:
          type: boolean
          description: 'Whether the agent has been disabled. A disabled agent keeps its id and history but is no longer offered for new work.'
        disabled_at:
          type: string
          nullable: true
          description: 'ISO 8601 timestamp the agent was disabled, or null when active.'
        github_connected:
          type: boolean
          description: 'Whether a git identity is attached to the agent, letting it clone, push, and open changes on its own.'
        github_username:
          type: string
          nullable: true
          description: 'The git login the attached identity resolves to. Null when none is attached.'
        anthropic_connected:
          type: boolean
          description: 'Whether an Anthropic credential is attached to the agent, letting it run Claude models with its own credential.'
        anthropic_credential_kind:
          type: string
          nullable: true
          description: 'How the attached Anthropic credential is typed: "api_key" (a metered API key) or "subscription" (a Claude Pro/Max seat). Null when none is attached.'
        anthropic_credential_attached_at:
          type: string
          nullable: true
          description: "ISO 8601 timestamp the attached Anthropic credential was last set, so the UI can warn on a subscription token's one-year expiry. Null when none is attached."
        anthropic_account_email:
          type: string
          nullable: true
          description: 'Email of the Anthropic account a "subscription" credential signs in as, so two agents can be told apart by the login behind them. Read from the seat''s last usage lookup, so it stays null until one succeeds. Null for a metered API key, and null when the address cannot be read.'
        openai_connected:
          type: boolean
          description: 'Whether an OpenAI credential is attached to the agent, letting it run OpenAI models with its own credential.'
        openai_credential_kind:
          type: string
          nullable: true
          description: 'How the attached OpenAI credential is typed: "api_key" (a metered API key) or "subscription" (a ChatGPT seat). Null when none is attached.'
        openai_credential_attached_at:
          type: string
          nullable: true
          description: 'ISO 8601 timestamp the attached OpenAI credential was last set. Null when none is attached.'
        openai_account_email:
          type: string
          nullable: true
          description: 'Email of the ChatGPT account a "subscription" credential signs in as. Read from the stored credential itself, so it still resolves after the seat''s token is revoked, which is when knowing the login to re-authenticate matters most. Null for a metered API key, and null when the address cannot be read.'
        openai_reauth_required:
          type: boolean
          description: 'Whether the attached ChatGPT seat needs a human to sign in again. True only when a server-side token refresh was rejected by OpenAI (signed out elsewhere, password changed, token rotated away). An expiring seat refreshes itself, so this is not the steady state. Always false for a metered API key and when no credential is attached.'
        xai_connected:
          type: boolean
          description: 'Whether an xAI credential is attached to the agent, letting it run Grok models with its own credential.'
        xai_credential_kind:
          type: string
          nullable: true
          description: 'How the attached xAI credential is typed: "api_key" (a metered API key) or "subscription" (a SuperGrok / X Premium+ seat). Null when none is attached.'
        xai_credential_attached_at:
          type: string
          nullable: true
          description: 'ISO 8601 timestamp the attached xAI credential was last set. Null when none is attached.'
        xai_account_email:
          type: string
          nullable: true
          description: 'Email of the xAI account a "subscription" credential signs in as. Always null: an xAI credential carries no readable account identity. Present so a client reads the same field for every vendor.'
        mail_policy:
          type: object
          properties:
            directable_by:
              type: string
            allowed_senders:
              type: array
              items: {  }
            may_start_work:
              type: boolean
            replies:
              type: string
          description: "The agent's email policy: `directable_by` (`members`, or `members_and_allowed` to widen direction to the senders below), `allowed_senders` (addresses and `*@domain` patterns, matched against the verified sender), `may_start_work`, and `replies` (`thread` or `none`). Always present; an agent that has never been configured reports the shipped defaults. It governs which mail becomes a message; mail it refuses is still recorded as an event a playbook can trigger on."
        created_at:
          type: string
          nullable: true
          description: 'ISO 8601 timestamp the agent was created.'
    AgentHandle:
      type: object
      properties:
        handle:
          type: string
          description: 'The candidate that was checked, exactly as it was given.'
        valid:
          type: boolean
          description: 'Whether the candidate satisfies the naming rules. False means it has to be edited: `reason` names the rule it broke.'
        available:
          type: boolean
          description: 'Whether the handle can be given to an agent right now. False whenever `valid` is false, and also when the name is well-formed but already spoken for.'
        reason:
          type: string
          nullable: true
          description: 'Why the handle cannot be used, in words you can show the customer. Null when it can.'
    AgentIdentity:
      type: object
      properties:
        provider:
          type: string
          description: 'Which external system the account is on.'
          enum:
            - google
            - slack
        status:
          type: string
          description: "How far along the account is:\n\n- `pending`: the account exists, or is being created, but it is not usable yet. For Google, not every service behind it is answering; for Slack, nobody has installed the app. Read `details` to see what is outstanding.\n- `active`: the account is usable. Every service the provider owes it is answering, and for Slack the app is installed.\n- `failed`: the account could not be set up. `error` says why."
          enum:
            - pending
            - active
            - failed
        identifier:
          type: string
          description: "How the agent is known on that system: the email address for Google, the handle people type after the `@` for Slack. Both are built from the agent's own handle, so this is a name that resolves rather than one the system generated. Null until the account has been created."
          nullable: true
        provisioned_at:
          type: string
          description: 'ISO 8601 timestamp the account became fully usable. Null while the account is still coming up.'
          nullable: true
        error:
          type: string
          nullable: true
          description: 'Why setup failed, when `status` is `failed`. Also carries why a rename could not be applied here, on an account that is otherwise working. Null when there is nothing wrong.'
        details:
          type: object
          properties:
            documents_ready:
              type: boolean
            mailbox_ready:
              type: boolean
            handle_synced:
              type: boolean
          description: "What is outstanding behind the account. The fields depend on `provider`, because what a system owes an account differs by system.\n\nFor `google`:\n\n- `documents_ready` (boolean): the account can be shared documents, spreadsheets and presentations.\n- `mailbox_ready` (boolean): the account can send and receive mail.\n\nGoogle brings these up at different times and the mailbox is usually the later of the two, which is why they are reported separately rather than folded into `status`. An agent whose documents are ready can already be handed a file even though `status` is still `pending`.\n\nFor `slack`:\n\n- `app_id` (string): the Slack app created for this agent. Each agent gets its own, which is what gives it its own name, avatar, handle and direct-message conversation.\n- `install_url` (string, nullable): the link an admin follows to install the app in the workspace. Null once it is installed.\n- `awaiting_approval` (boolean): true until somebody installs the app. In a workspace with app approval turned on, the install goes to a Workspace Owner first, so this can stay true for a while.\n\nA Slack app exists the moment it is created but can do nothing until it is installed, so `status` stays `pending` for as long as `awaiting_approval` is true."
          additionalProperties: true
      description: 'An account an agent holds on an external system. The shape of `details` varies by `provider`; the `provider` field is the discriminator.'
    AgentObjective:
      type: object
      properties:
        id:
          type: string
          description: 'Unique identifier for the objective.'
        text:
          type: string
          description: 'What the agent is driving toward, as the person who wrote it stated it.'
        refs:
          type: array
          items: {  }
          description: 'What the objective is about, as `type:id` strings: `task:{id}`, `session:{id}`, `person:{id}`, or the uri of an attachment. Filter the collection by any one of them with `ref`. Empty when the objective names nothing.'
        status:
          type: string
          description: "Where the objective is in its lifecycle:\n\n- `open`: the agent is still working under it.\n- `closed`: it ended, and `outcome` says how."
          enum:
            - open
            - closed
        outcome:
          type: string
          nullable: true
          description: "How it ended, or null while it is open:\n\n- `done`: the objective was met.\n- `dropped`: it was deliberately abandoned.\n- `superseded`: something else now carries the intent."
          enum:
            - done
            - dropped
            - superseded
        closing_note:
          type: string
          nullable: true
          description: 'The line of reasoning recorded when the objective was closed, or null. An agent that closes an objective is required to say why; a person closing one may.'
        created_by_user_id:
          type: string
          description: 'The person who wrote the objective, or null if that account no longer exists.'
          nullable: true
        closed_by_user_id:
          type: string
          nullable: true
          description: 'Who closed it: a person, or the agent itself. Null while it is open.'
        closed_at:
          type: string
          nullable: true
          description: 'ISO 8601 timestamp the objective was closed, or null while it is open.'
        created_at:
          type: string
          description: 'ISO 8601 timestamp the objective was written.'
        updated_at:
          type: string
          description: 'ISO 8601 timestamp the objective last changed.'
    AgentTodo:
      type: object
      properties:
        id:
          type: string
          description: 'Unique identifier for the todo.'
        text:
          type: string
          description: 'What the agent committed to, in its own words. When the todo comes due this is the prompt the run starts from.'
        refs:
          type: array
          items: {  }
          description: 'What the todo is about, as `type:id` strings: `task:{id}`, `session:{id}`, `person:{id}`, or the uri of an attachment. Filter the collection by any one of them with `ref`. Empty when the todo names nothing.'
        status:
          type: string
          description: "Where the todo is in its lifecycle:\n\n- `open`: still owed.\n- `closed`: it ended, and `outcome` says how."
          enum:
            - open
            - closed
        outcome:
          type: string
          nullable: true
          description: "How it ended, or null while it is open:\n\n- `done`: the work was finished.\n- `dropped`: it is not going to happen.\n- `superseded`: something else took it over."
          enum:
            - done
            - dropped
            - superseded
        closing_note:
          type: string
          nullable: true
          description: 'A line on how it went, recorded when the todo was closed. Null when none was written.'
        due_at:
          type: string
          nullable: true
          description: 'ISO 8601 timestamp the todo comes due, or null when it carries no timer. At that time the agent is started on a conversation with this todo as the prompt. It fires once; there is no recurrence.'
        objective_id:
          type: string
          nullable: true
          description: 'The objective this todo serves, or null when it serves none. Answers "why is the agent doing this" without a second lookup.'
        task_id:
          type: string
          nullable: true
          description: 'The task that was started when the todo came due, or null if it has not come due. It stays here whether that run succeeded or failed, so a todo still open after its time has a run you can go and read.'
        fired_at:
          type: string
          nullable: true
          description: 'ISO 8601 timestamp the due todo was started, or null. A todo starts at most one run.'
        closed_by_user_id:
          type: string
          nullable: true
          description: 'Who closed it: usually the agent, in whichever conversation finished the work. Null while it is open.'
        closed_at:
          type: string
          nullable: true
          description: 'ISO 8601 timestamp the todo was closed, or null while it is open.'
        created_at:
          type: string
          description: 'ISO 8601 timestamp the todo was written down.'
        updated_at:
          type: string
          description: 'ISO 8601 timestamp the todo last changed.'
    Attachment:
      type: object
      properties:
        uri:
          type: string
          description: 'Canonical URI for the attachment. Inline-only attachments receive a synthetic `wallfacer://attachments/{id}` URI. URI-backed attachments keep the URI the caller provided.'
        name:
          type: string
          description: 'Human-readable name.'
        description:
          type: string
          nullable: true
          description: 'Optional longer description.'
        mimeType:
          type: string
          description: 'RFC 2046 media type for the attachment body. Required when `text` or `blob` is provided.'
          nullable: true
        size:
          type: integer
          description: 'Size of `text` (in bytes) or decoded `blob`. Null for URI-only attachments with no body.'
          nullable: true
        annotations:
          type: object
          nullable: true
          description: 'MCP Resource annotations for LLM hinting (`audience`, `priority`) per the MCP spec. Null on most attachments; use `metadata` for display data.'
          additionalProperties: true
        text:
          type: string
          description: 'Inline text content. Mutually exclusive with `blob`.'
          nullable: true
        blob:
          type: string
          nullable: true
          description: 'Inline binary content, base64-encoded. Mutually exclusive with `text`.'
        id:
          type: string
          description: 'Attachment ID.'
        status:
          type: string
          description: "Content-availability status:\n\n- `ready`: content is available.\n- `failed`: content could not be made available. Inspect `error` for the reason."
          enum:
            - ready
            - failed
        error:
          type: string
          nullable: true
          description: 'Machine-readable failure code when `status: "failed"`. Null when `status: "ready"`.'
        metadata:
          type: object
          nullable: true
          description: 'Free-form display data keyed on `provider`. Stored as-is alongside the attachment.'
          additionalProperties: true
        last_fetched_at:
          type: string
          nullable: true
          description: 'ISO 8601 timestamp of the most recent content fetch. Null when no remote source applies.'
        created_at:
          type: string
          description: 'ISO 8601 timestamp of when the attachment was created.'
        updated_at:
          type: string
          description: 'ISO 8601 timestamp of the most recent change to the attachment record.'
      description: 'Content carried alongside a task. Field names follow the MCP Resource and ResourceContents specifications.'
    CommandRun:
      type: object
      properties:
        id:
          type: string
          description: 'Identifier for this run. Assigned before the command is dispatched, so it addresses the run even if the response to the request that started it is lost.'
        vm_id:
          type: string
          description: 'The VM this run executes on.'
        name:
          type: string
          nullable: true
          description: 'The manifest command this run executes, or null for an ad hoc command.'
        command:
          type: string
          nullable: true
          description: 'The shell command this run executes, or null for a run started by manifest command name.'
        working_directory:
          type: string
          nullable: true
          description: "Absolute path the command runs in, or null to use the in-VM agent's startup directory."
        status:
          type: string
          description: "Lifecycle status:\n\n- `pending`: the run was recorded and dispatched, and the VM has not confirmed it yet. A run that stays here is a start whose confirmation was lost; it stops protecting its VM shortly after, and is closed out rather than left in flight.\n- `running`: the process is executing.\n- `completed`: the process exited 0.\n- `failed`: the process exited non-zero, or could not be started. `exit_code` is null only in the second case.\n- `canceled`: cancelled through this API.\n- `timed_out`: the run reached `deadline_at` and its process group was killed."
          enum:
            - pending
            - running
            - completed
            - failed
            - canceled
            - timed_out
        exit_code:
          type: integer
          nullable: true
          description: 'Shell exit code. Null while the run is in flight, and on a run that never produced one.'
        error:
          type: string
          nullable: true
          description: 'Why the run could not be started or supervised. Null on a run that executed, whatever it exited with.'
        timeout_seconds:
          type: integer
          description: 'The runtime ceiling this run was started with.'
        deadline_at:
          type: string
          nullable: true
          description: 'ISO 8601 timestamp at which the run is killed if it has not finished. Recorded before the command is dispatched, and the point at which the run stops keeping its VM from being reclaimed as idle. Null once the run is over.'
        duration_ms:
          type: integer
          nullable: true
          description: 'Wall-clock duration in milliseconds. Null until the run ends.'
        output_bytes:
          type: integer
          description: 'Total bytes of output the run has produced so far. This is the high-water mark a `since` cursor counts against.'
        cancel_requested_at:
          type: string
          nullable: true
          description: 'ISO 8601 timestamp of a cancellation that was recorded but could not be carried out, because the run had no confirmed process to signal. The run keeps executing until its deadline; repeat the cancellation to retry. Null otherwise.'
        started_at:
          type: string
          nullable: true
          description: 'ISO 8601 timestamp of when the process started. Null until the VM confirms it.'
        ended_at:
          type: string
          nullable: true
          description: 'ISO 8601 timestamp of when the run reached a terminal status. Null while in flight.'
        created_at:
          type: string
          description: 'ISO 8601 timestamp of when the run was recorded.'
        updated_at:
          type: string
          description: 'ISO 8601 timestamp of the last change to the run.'
        output:
          type: object
          nullable: true
          additionalProperties: false
          properties:
            text:
              type: string
              description: 'Combined standard output and standard error, interleaved in the order the command wrote them.'
            offset:
              type: integer
              description: 'Byte offset this slice starts at.'
            next_offset:
              type: integer
              description: 'Byte offset to pass as `since` on the next read to continue where this one stopped.'
            truncated:
              type: boolean
              description: 'True when output before `offset` was dropped, so the slice is not contiguous with the previous read. Happens when a caller polls slower than the command produces output.'
          description: 'The slice of output this read returned, or null when the read produced none. Always null when listing runs, which returns records only. A run whose output is unavailable still has an authoritative status: the VM may be gone, or the run may have finished long enough ago for its output to have been dropped.'
      description: 'One command running, or one that has run, inside a VM. The record is written before the process starts and outlives the request that started it, so a run is addressable even when the response to that request is lost.'
    Credential:
      type: object
      properties:
        id:
          type: string
          description: 'Stable identifier for the credential.'
        account_id:
          type: string
          description: 'The account that holds this credential.'
        name:
          type: string
          description: 'What you called it, shown wherever the credential is listed for a person.'
        reference:
          type: string
          description: 'The name an agent uses to reach the value. Granted agents find it set under this name in every command they run, and are never shown the value itself.'
        kind:
          type: string
          description: "What shape the value is:\n\n- `api_key`: a provider key, used in a header or a query parameter.\n- `login`: a username and password pair. The username is returned here; the password is not.\n- `token`: anything else a service issues and expects back verbatim.\n- `totp`: the seed behind an authenticator app. The agent is never given the seed; it asks for a code and one is minted per request."
          enum:
            - api_key
            - login
            - token
            - totp
        username:
          type: string
          nullable: true
          description: 'The username half of a `login`. Null for every other kind.'
        username_reference:
          type: string
          nullable: true
          description: 'The name a granted agent finds the username under. Null for every other kind.'
        audit_granularity:
          type: string
          description: "How closely this credential's use is recorded. `per_use` for `totp`, where a code has to be minted for every single use and the platform is therefore in the path of each one. `per_provision` for every other kind: the value is delivered into a session once and used there, and a key sitting in a variable produces no further signal."
          enum:
            - per_use
            - per_provision
        advisory:
          type: string
          nullable: true
          description: 'What this kind costs the account, in plain words, or null when there is nothing to warn about. Present on `totp`, where holding the seed alongside a password means the platform holds both factors.'
        granted_to:
          type: array
          items: {  }
          description: 'The ids of the agents currently holding this credential.'
        last_provisioned_at:
          type: string
          nullable: true
          description: 'ISO 8601 timestamp of the most recent time this credential was delivered into a session. Null until it first reaches one.'
        created_at:
          type: string
          description: 'ISO 8601 timestamp of when the credential was added.'
        updated_at:
          type: string
          description: 'ISO 8601 timestamp of the most recent change, including a replaced value.'
    Credential4:
      type: object
      properties:
        id:
          type: string
          description: 'Stable identifier for the grant.'
        credential_id:
          type: string
          description: 'The credential being held.'
        agent_id:
          type: string
          description: 'The agent holding it.'
        granted_at:
          type: string
          description: 'ISO 8601 timestamp of when the agent was given this credential.'
    Directory:
      type: object
      properties:
        id:
          type: string
          description: 'Unique identifier for the person. Stable: it survives renames, address changes and merges.'
        ref:
          type: string
          description: 'How the agent references this person in a journal entry, a todo or an objective: `person:{id}`.'
        kind:
          type: string
          description: "What this person is to the account:\n\n- `member`: a human with an account here.\n- `agent`: one of the account's AI employees.\n- `external`: somebody met on a channel who has no account here."
          enum:
            - member
            - agent
            - external
        name:
          type: string
          description: 'Their name, as we last saw it.'
        email:
          type: string
          description: 'The address we hold for them, or null when we hold none.'
          nullable: true
        title:
          type: string
          nullable: true
          description: 'Their job title, where we know it.'
        preferred_channel:
          type: string
          nullable: true
          description: 'The channel they asked to be reached on, or null when they have not said. Agents try this channel first, and fall back to where they have actually been seen when it cannot reach them.'
          enum:
            - app
            - slack
            - email
        contact_notes:
          type: string
          nullable: true
          description: 'Short free text an agent reads before it writes to them, for example "mornings only". Nothing enforces it; the agent honors it.'
        last_seen_at:
          type: string
          description: 'ISO 8601 timestamp we last heard from them, or null when we never have.'
          nullable: true
        user_id:
          type: string
          nullable: true
          description: 'The Wallfacer user they are, where they are one. Null for everybody with no account here.'
        aliases:
          type: array
          items: {  }
          description: 'Every spelling we have seen for them: channel identities as `provider:id`, addresses, handles, and the ids of any rows merged into this one. Each of them resolves back to this person.'
    Environment:
      type: object
      properties:
        id:
          type: string
          description: 'Environment ID. Use this when booting VMs or creating tasks against this environment.'
        account_id:
          type: string
          description: 'Account that owns this environment.'
        created_by:
          type: integer
          description: 'ID of the user who created this environment.'
        name:
          type: string
          description: 'Human-readable name.'
        description:
          type: string
          nullable: true
          description: 'Optional longer description.'
        visibility:
          type: string
          description: "Who in the account can see and use this environment, and who can change it:\n\n- `private`: only the creator can see, use, or change it. Other account members see a 404.\n- `account_read`: any account member can see it and use it (boot VMs, attach to tasks). Only the creator can edit it, delete it, or manage its snapshots.\n- `account_edit`: any account member can see, use, edit, and delete it. The default for newly-created environments is `private`. Only the creator can change `visibility`."
          enum:
            - private
            - account_read
            - account_edit
        manifest:
          type: string
          nullable: true
          description: "The environment's manifest. Declaratively specifies the VM platform, sources to clone, setup commands, services to start, and health checks. Every VM booted from this environment is configured from this document."
        mcp_servers:
          type: string
          nullable: true
          description: "MCP servers available to the coding agent during sessions on this environment, as an object mapping each server's name to a definition. A **remote** server is `{url, headers}` (hosted https endpoint); a remote server that signs in with the vendor's own OAuth is `{url, auth: {type: \"oauth\", scopes}}` and carries no header you supply; a **sandbox** server is `{command, args, env}` (a stdio MCP server the platform runs inside the session VM). Header and env values may reference environment secrets as `${secrets.NAME}`; references are returned as written, never the secret's value. An OAuth server's tokens are never part of this object; see `mcp_connections` for its sign-in state. Not part of the manifest: changing it never regenerates the environment's snapshot."
        mcp_connections:
          type: string
          nullable: true
          description: "Sign-in state for the MCP servers on this environment that authenticate with OAuth, as an object mapping the server's name to `{status, scopes, connected_at}`. Read-only: it reflects sign-ins performed through the connections endpoints and is never accepted on create or update. Null when no server on this environment uses OAuth. `status` is one of:\n\n- `disconnected`: nobody has signed in to this server yet, or the connection was removed. Create a connection to sign in.\n- `connected`: the platform holds a working grant and renews it in the background. `scopes` lists what the grant covers and `connected_at` is when it was established.\n- `needs_reconnect`: the grant stopped working (revoked upstream, or expired with no way to renew). Sign in again to repair it; no session can use the server until you do."
        base_snapshot:
          type: string
          nullable: true
          description: "The environment's current base snapshot, or null if one has never been generated. When present and `ready`, new VMs boot from this snapshot in about 2 seconds instead of running setup from scratch. The object has four fields: `id` (snapshot ID, null until the snapshot actually exists), `status` (`generating`, `ready`, or `failed`), `created_at` (ISO 8601 timestamp, null while generating), and `error` (present only when `status` is `failed`: `{stage, message, failed_at}` describing which generation stage failed and why - read the `provisioning` source at `/environments/{env}/logs` for the full account, including infra-stage failures that produce no step logs). `error` is null unless the current attempt failed."
        created_at:
          type: string
          description: 'ISO 8601 timestamp of when the environment was created.'
        updated_at:
          type: string
          description: 'ISO 8601 timestamp of the most recent change to the environment record.'
    Event:
      type: object
      properties:
        id:
          type: string
          nullable: true
          description: 'Event ID.'
        sequence:
          type: integer
          description: 'Per-account monotonically increasing sequence number. Use this for cursor-stable iteration -- two events with the same `occurred_at` will have different sequences.'
        source:
          type: string
          nullable: true
          description: 'The origin system the event came from, supplied in the `source` field on ingest (e.g. `github`). Half of the routing key.'
        type:
          type: string
          nullable: true
          description: 'Caller-supplied event type, supplied in the `type` field on ingest. Pipeline triggers match on the `(source, type)` pair.'
        attached_to_task_ids:
          type: array
          items: {  }
          description: 'IDs of every task this event has been attached to. Populated either by the caller via the `task_ids` field on the ingest body, or by an account-scoped routing pipeline.'
        data:
          type: array
          items: {  }
          description: 'The event payload posted on ingest. Pipeline conditions read from this via the `${event.data.X}` expression path.'
        actor:
          type: object
          properties:
            kind:
              type: string
          description: 'Structured provenance for who or what produced the event. The `kind` discriminates between `user`, `ai`, `integration`, and `system`; subsequent fields are kind-specific.'
        policy_attribution:
          type: string
          nullable: true
          description: 'When the event was emitted by a pipeline automation, identifies which pipeline, version, and automation produced it. Null for direct ingest.'
        occurred_at:
          type: string
          nullable: true
          description: "ISO 8601 timestamp of when the event happened in the source system. Caller-supplied when ingesting; the platform's clock at emit time for internal events."
        created_at:
          type: string
          nullable: true
          description: 'ISO 8601 timestamp of when the event row was persisted.'
    Eventkey:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        last_used_at:
          type: string
        created_at:
          type: string
    Inboundwebhookcollector:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        url:
          type: string
        source:
          type: string
        type_strategy:
          type: string
        type_key:
          type: string
          nullable: true
        signing_enabled:
          type: boolean
        signature_header:
          type: string
          nullable: true
        last_received_at:
          type: string
        created_at:
          type: string
    Invitation:
      type: object
      properties:
        id:
          type: string
          description: 'Invitation ID.'
        email:
          type: string
          description: 'Email address the invitation was sent to.'
        role:
          type: string
          description: 'Role the invitee receives on acceptance.'
          enum:
            - owner
            - admin
            - member
        account:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
            activation_state:
              type: string
            activated_at:
              type: string
              nullable: true
            avatar_url:
              type: string
              nullable: true
            created_at:
              type: string
            updated_at:
              type: string
          description: 'The account the invitation belongs to, as an `{ id, name, created_at, updated_at }` object. Gives the invitee enough context to recognize which account they are being invited to.'
        invited_by:
          type: object
          properties:
            name:
              type: string
          description: "The user who sent the invitation, as `{ name }`. Intentionally limited to the name only; the public show-by-token endpoint must not expose the inviter's user ID."
          nullable: true
        accepted_at:
          type: string
          nullable: true
          description: 'ISO 8601 timestamp of when the invitation was accepted. Null while pending.'
        expires_at:
          type: string
          description: 'ISO 8601 timestamp of when the invitation expires. Invitations are valid for 7 days after the most recent send.'
        created_at:
          type: string
          description: 'ISO 8601 timestamp of when the invitation was created.'
    MCPconnection:
      type: object
      properties:
        id:
          type: string
          description: 'Connection ID. Use this to remove the connection and sign the server out.'
        server_name:
          type: string
          description: "The MCP server this sign-in belongs to, as named in the environment's `mcp_servers`."
        status:
          type: string
          description: "Whether the server can be used right now:\n\n- `disconnected`: no working grant. Sign in to establish one.\n- `connected`: the platform holds a working grant and renews it in the background.\n- `needs_reconnect`: the grant stopped working and cannot be renewed. Sign in again to repair it."
          enum:
            - connected
            - disconnected
            - needs_reconnect
        issuer:
          type: string
          description: 'The sign-in provider that issued the grant, as its own metadata identifies it.'
          nullable: true
        scopes:
          type: array
          items:
            type: string
          description: 'What the grant covers, as granted rather than as requested. Empty when the provider did not say.'
        authorization_url:
          type: string
          nullable: true
          description: "Open this in a browser to grant consent. Returned only when starting a sign-in, and good for one use: the sign-in completes when the provider redirects back, after which the environment's `mcp_connections` shows the server as `connected`."
        connected_at:
          type: string
          nullable: true
          description: 'ISO 8601 timestamp of when this server was first signed in to. Null until a sign-in completes.'
        expires_at:
          type: string
          nullable: true
          description: 'ISO 8601 timestamp of when the current access token stops being valid. Renewed automatically; null when the provider issues tokens that do not expire.'
        created_at:
          type: string
          description: 'ISO 8601 timestamp of when the connection record was created.'
        updated_at:
          type: string
          description: 'ISO 8601 timestamp of the most recent change to the connection.'
    Message:
      type: object
      properties:
        id:
          type: string
          description: 'Log entry ID.'
        event:
          type: string
          description: 'Event name. Namespaced (for example, `ios_app.rebuild_started`, `ios_app.rebuild_completed`, `ios_app.rebuild_failed`) so the taxonomy is extensible without breaking clients.'
        level:
          type: string
          description: 'Severity. `info` for normal progress events; `error` for failures. Additional levels may be added as the event taxonomy grows.'
          enum:
            - info
            - error
        payload:
          type: object
          nullable: true
          description: "The raw Claude Code SDK JSONL transcript entry this message wraps. Shape varies by `type`. Treat as opaque except for the subset documented for each `type`.\n\n**For `type:\"user\"`:** `{ message: { role: \"user\", content: [{ text, type: \"text\" }, { type: \"image\", source: { type: \"base64\", data, media_type } }] }, uuid, promptId, timestamp, ... }`. Content blocks may include text, image, or both.\n**For `type:\"assistant\"`:** `{ message: { id, role: \"assistant\", model, usage, stop_reason, content: [ ... mixed content blocks ... ] }, uuid, timestamp, ... }`.\n**For `type:\"last-prompt\"`:** `{ type, sessionId, lastPrompt }`, with no `message` key.\n**For `type:\"queue-operation\"`:** `{ type, operation, sessionId, timestamp }`.\n**For `type:\"ai-title\"`:** `{ type, aiTitle, sessionId }`.\n**For `type:\"turn-input\"`:** `{ type }`, with no `message` key.\n\n**Trimmed payloads.** Listing a session with `view=trimmed` returns the same entry with the parts a thread does not render replaced in place, so opening a long conversation is not a multi-megabyte download. Block types, tool names and ids, text and thinking blocks, and everything outside `message.content` are untouched. Three things are replaced:\n\n- Image blocks, always. `source` keeps its `type` and `media_type`, `source.data` becomes `null`, and `source` gains `elided: true` and `byte_size`.\n- `input` on a `tool_use` block, when it is over `4096` bytes. The object becomes `{ elided: true, byte_size }`.\n- `content` on a `tool_result` block and the entry's `toolUseResult`, when either is over `4096` bytes. Each becomes `{ elided: true, byte_size }`.\n\n`byte_size` is the exact size of what was removed, so you can render a placeholder to scale and decide whether the block is worth fetching. To get one back, fetch that message by id: a single message is never trimmed."
          additionalProperties: true
        created_at:
          type: string
          description: 'ISO 8601 timestamp of when the log entry was recorded.'
      description: 'A single entry in a session transcript. The shape of `payload` varies by `type`; the `type` field is the discriminator.'
    Page:
      type: object
      properties:
        id:
          type: string
          description: 'Page ID.'
        account_id:
          type: string
          description: 'Account that owns this page.'
        parent_page_id:
          type: string
          nullable: true
          description: 'Page this page is filed under. Null for a top-level page.'
        title:
          type: string
          description: 'Page title.'
        body:
          type: string
          description: 'Markdown body. Delivered to AI agents running playbooks related to this page.'
          nullable: true
        description:
          type: string
          description: 'Platform-generated one-line summary, derived from the page content shortly after each edit. Read-only: it exists so AI agents (via the handbook table of contents and search) can decide whether to open the page.'
          nullable: true
        position:
          type: integer
          description: 'Sort position among siblings. Lower sorts first; ties break by creation time.'
        created_by:
          type: integer
          description: 'User who created the page.'
        created_at:
          type: string
          description: 'ISO 8601 timestamp.'
        updated_at:
          type: string
          description: 'ISO 8601 timestamp of the last edit. Pages are mutable; agents always receive the current body.'
        deleted_at:
          type: string
          nullable: true
          description: 'ISO 8601 timestamp the page was deleted. Deleted pages keep their content and history and can be restored by passing `deleted: false` on update. Null while live.'
    PaginationLinks:
      type: object
      properties:
        first:
          type: string
          nullable: true
        last:
          type: string
          nullable: true
        prev:
          type: string
          nullable: true
        next:
          type: string
          nullable: true
    PaginationMeta:
      type: object
      properties:
        path:
          type: string
        per_page:
          type: integer
        next_cursor:
          type: string
          nullable: true
          description: 'Opaque cursor for the next page; null on the last page.'
        prev_cursor:
          type: string
          nullable: true
          description: 'Opaque cursor for the previous page; null on the first page.'
    PaginationMeta4:
      type: object
      properties:
        current_page:
          type: integer
        per_page:
          type: integer
        total:
          type: integer
        last_page:
          type: integer
    PaginationMeta8:
      type: object
      properties:
        current_page:
          type: integer
        from:
          type: integer
          description: 'Index of the first item on the current page; null when the collection is empty.'
          nullable: true
        last_page:
          type: integer
        links:
          type: array
          items:
            type: object
            properties:
              url:
                type: string
                nullable: true
              label:
                type: string
              page:
                type: string
                nullable: true
              active:
                type: boolean
        path:
          type: string
        per_page:
          type: integer
        to:
          type: integer
          description: 'Index of the last item on the current page; null when the collection is empty.'
          nullable: true
        total:
          type: integer
    Pipeline:
      type: object
      properties:
        id:
          type: string
          description: 'Pipeline ID.'
        account_id:
          type: string
          description: 'Account that owns this pipeline.'
        name:
          type: string
          description: 'Human-readable pipeline name. Unique per account among non-archived pipelines.'
        description:
          type: string
          description: 'Optional description shown above the steps in the editor.'
          nullable: true
        active_version:
          type: string
          nullable: true
          description: 'The currently active pipeline version. Carries `{id, version, created_at, steps}`. `steps` is the ordered list of `{id, title, kind}` from the version''s definition: enough to render the pipeline''s outline in a list view without fetching the full version. `kind` is `"ai"` or `"human"`. Null until first publish.'
        version_count:
          type: integer
          description: 'Total number of published versions for this pipeline.'
        task_count:
          type: integer
          description: 'Number of tasks bound to this pipeline.'
        draft:
          type: string
          nullable: true
          description: 'Saved-but-unpublished working copy (`{definition, updated_at, updated_by}`). Null when there are no unpublished edits.'
        parent_page_id:
          type: string
          nullable: true
          description: 'Handbook page this playbook is filed under. Null for a top-level playbook.'
        position:
          type: integer
          description: 'Sort position among siblings in the handbook tree. Lower sorts first; ties break by creation time.'
        linked_page_ids:
          type: array
          items: {  }
          description: 'Handbook pages explicitly linked to this playbook. Linked pages are delivered to the AI agent on every run, regardless of where they live in the handbook tree.'
        disabled_at:
          type: string
          nullable: true
          description: 'ISO 8601 timestamp the pipeline was disabled. While set, the pipeline spawns no tasks but stays visible and editable. Null while enabled.'
        archived_at:
          type: string
          nullable: true
          description: 'ISO 8601 timestamp the pipeline was archived (deleted). Hidden from the default list. Null while active.'
        created_at:
          type: string
          description: 'ISO 8601 timestamp.'
        created_by:
          type: integer
          description: 'User who created the pipeline.'
    PipelineVersion:
      type: object
      properties:
        id:
          type: string
          description: 'Pipeline version ID.'
        pipeline_id:
          type: string
          description: 'Owning pipeline.'
        version:
          type: integer
          description: 'Monotonically increasing version number within the pipeline. Starts at 1.'
        definition:
          type: object
          properties:
            steps:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: string
                  kind:
                    type: string
                  title:
                    type: string
                  content:
                    type: string
                  on_failure:
                    type: string
            triggers:
              type: array
              items: {  }
          description: 'Full pipeline definition as defined in the pipeline format. See the pipeline format docs for the shape.'
        notes:
          type: string
          nullable: true
          description: 'Optional notes captured at publish time. Useful for changelog entries.'
        created_at:
          type: string
          description: 'ISO 8601 timestamp.'
        created_by:
          type: integer
          description: 'User who published this version.'
    Secret:
      type: object
      properties:
        id:
          type: string
          description: 'Stable identifier for the secret.'
        environment_id:
          type: string
          description: 'Environment that owns this secret. Secrets are scoped to a single environment and never shared across environments or accounts.'
        name:
          type: string
          description: 'Reference key the value can be substituted under inside an environment manifest. Always uppercase letters, digits, and underscores.'
        last_accessed_at:
          type: string
          nullable: true
          description: 'ISO 8601 timestamp of the most recent successful unwrap on behalf of a booting VM. Null until the first access.'
        created_at:
          type: string
          description: 'ISO 8601 timestamp of when the secret was created.'
        updated_at:
          type: string
          description: 'ISO 8601 timestamp of the most recent rotation. Equals `created_at` until the first rotation.'
    Session:
      type: object
      properties:
        id:
          type: string
          description: 'Session ID.'
        task_id:
          type: string
          description: 'The task this session belongs to.'
        environment_id:
          type: string
          description: 'The environment this session is booted in. Sessions, not tasks, are bound to environments: sibling sessions of the same task can run in different environments. For example, a backend session and a frontend session that together close one ticket.'
        title:
          type: string
          description: 'Human-readable session title. Auto-generated from the first prompt when not supplied.'
          nullable: true
        status:
          type: string
          description: "Lifecycle status:\n\n- `waiting`: VM capacity was unavailable at creation. The session is waiting to retry.\n- `waiting_for_snapshot`: the environment's base snapshot is generating for the first time. The session will boot once it is ready.\n- `starting`: a VM is provisioning.\n- `active`: the VM is up and the agent is accepting messages.\n- `idle`: no activity within `idle_timeout_seconds`. The VM has been destroyed, but the session can be re-activated by posting a new message.\n- `closed`: explicitly closed, or terminally failed. See `close_reason` for the reason."
          enum:
            - waiting
            - waiting_for_snapshot
            - starting
            - active
            - idle
            - closed
        is_agent_responding:
          type: boolean
          description: 'True while the agent is actively working a turn in this session, from the moment a message is accepted for delivery until the turn settles. Poll this field to tell whether a reply is still in flight, for example to keep a progress indicator up between sending a message and the first agent output.'
        vendor:
          type: string
          description: 'Harness this session is running on. Drives which CLI the harness VM spawns and which assistant name surfaces in prose. Legacy rows default to `claude`.'
          enum:
            - claude
            - codex
            - grok
        harness_model:
          type: string
          nullable: true
          description: 'Model id forwarded as `--model` to the vendor CLI (e.g. `claude-opus-4-8`, `gpt-5.5`). Null means "use the vendor CLI''s default". Bound per-session at create time; there is no per-turn model picker today.'
        harness_effort:
          type: string
          nullable: true
          description: "Reasoning effort this session's turns run at, forwarded to the vendor CLI. The vocabulary is the vendor's and is not normalised across harnesses: claude and grok take `low`, `medium`, `high`; codex takes `minimal`, `low`, `medium`, `high`, `xhigh`. Null means no effort is pinned (either the harness has no effort knob or the session predates effort) and the CLI runs at its own default. Bound per-session at create time. See `GET /models` for each harness's options and default."
        effort_label:
          type: string
          nullable: true
          description: 'Display name for `harness_effort` ("Extra High" for codex `xhigh`). Render this rather than title-casing the id. Null whenever `harness_effort` is null.'
        branch_name:
          type: string
          description: "The git branch this session is working on. Sessions (not tasks) own branch identity, so a task with multiple sessions produces multiple distinct branches. Auto-generated at create time from the creator's initials, the task's first linked issue number (if any), the session title, and a short hash of the session id."
          nullable: true
        base_branch:
          type: string
          nullable: true
          description: "The branch the session's working branch was cut from. In multi-source environments each source can have its own base branch; see `sources[].base_branch` for the per-source values."
        sources:
          type: array
          items:
            type: object
            properties:
              repo:
                type: string
              workspace:
                type: string
              head_branch:
                type: string
              base_branch:
                type: string
              base_commit_sha:
                type: string
                nullable: true
              has_changes:
                type: boolean
              commit_count:
                type: integer
              lines_added:
                type: integer
              lines_removed:
                type: integer
          description: "Per-source git state. One entry per repo the session is working on. Always returned as an array; single-source sessions return a one-element array so clients have one rendering path.\n\nFields per source:\n\n- `repo`: the git repo URL.\n- `workspace`: absolute path to the cloned workspace inside the VM.\n- `head_branch`: the branch checked out in this source. The session's working branch for most sources; a source pinned to a `pull_request` attachment reports that PR's head branch instead, so it can differ across sources.\n- `base_branch`: the branch this source was cut from. Can differ across sources when the environment's manifest tracks different defaults per repo.\n- `base_commit_sha`: the commit the working branch diverged from on this source. Cached on push; null until the first push or VM boot.\n- `has_changes`: whether the workspace has uncommitted changes as of the last check.\n- `commit_count`: number of commits on the working branch ahead of `base_commit_sha`.\n- `lines_added` / `lines_removed`: summed line deltas across all commits on the working branch for this source."
        close_reason:
          type: string
          nullable: true
          description: "Why the session closed. Null while the session is open. Populated on close with one of:\n\n- `user_initiated`: closed via `PATCH /sessions/{id}` with `status: \"closed\"`.\n- `completed`: the agent finished the plan successfully.\n- `vm_failed`: the VM's boot or runtime failed.\n- `setup_failed`: the environment's setup commands failed.\n- `container_failed`: the in-VM container crashed.\n- `snapshot_failed`: a snapshot-backed boot could not restore.\n- `turn_failed`: a harness turn failed (bad model id, provider error, CLI crash). See `error_message`.\n- `resource_exhausted`: no VM capacity was ever available."
          enum:
            - user_initiated
            - completed
            - vm_failed
            - setup_failed
            - container_failed
            - snapshot_failed
            - turn_failed
            - resource_exhausted
        error_message:
          type: string
          nullable: true
          description: 'Human-readable reason the session closed with a failure (e.g. a provider 400 for an un-deployed model, or an environment setup error). Null unless the session closed in an error state; pair it with `close_reason` to distinguish a failed close from a clean or user-initiated one.'
        origin_channel:
          type: string
          description: "Where this conversation started, which is also where it is answered. Never null.\n\n- `app`: the conversation composer in our own clients.\n- `slack`: a connected Slack workspace.\n- `email`: the address the agent receives mail at.\n\nThe origin channel owns a conversation for its lifetime. The agent replies there automatically, and every message shows here whichever channel it travelled on."
          enum:
            - app
            - slack
            - email
        can_send:
          type: boolean
          description: 'Whether you can send a message to this session. False for a conversation that started on another channel: it is answered there, so render the transcript without a composer rather than letting a send fail. `send_restriction` carries the reason to show and where to send the person instead. Posting anyway returns 409.'
        send_restriction:
          type: object
          nullable: true
          description: 'Why you cannot send to this session, or null when you can. Present whenever `can_send` is false, which happens for a conversation that started on another channel.'
          additionalProperties: false
          properties:
            channel:
              type: string
              enum:
                - slack
                - email
              description: 'The channel that owns this conversation.'
            reason:
              type: string
              description: 'A sentence to show the person in place of the composer.'
            url:
              type: string
              nullable: true
              description: 'A link to the conversation on that channel, when the channel has one. Null otherwise.'
        conversation_opening:
          type: object
          nullable: true
          description: 'How to frame a conversation the platform opened, or null when a person opened it. Independent of `send_restriction`: a conversation opened on a channel that also owns it carries both.'
          additionalProperties: false
          properties:
            channel:
              type: string
              enum:
                - slack
                - email
              description: 'The channel the platform opened this conversation on.'
            headline:
              type: string
              description: 'A short finished line naming what this conversation is. Render verbatim.'
            reason:
              type: string
              description: 'A finished sentence for why the conversation arrived and what the agent wants from the person it was opened with. Render verbatim.'
            url:
              type: string
              nullable: true
              description: 'A link to the thread on that channel, when the channel recorded one. Null otherwise.'
        message_count:
          type: integer
          description: 'Total number of messages in this session, including queued ones that have not yet been delivered to the agent.'
        idle_timeout_seconds:
          type: integer
          description: 'Seconds of inactivity after which this session goes idle and its VM is destroyed. Inherited from the task unless overridden on session create.'
        created_by:
          type: integer
          description: "ID of the agent this session runs as: its execution identity, inherited from the parent task's `created_by`. This is the agent, not a human; the responsible human is the task's owner."
        started_at:
          type: string
          description: 'ISO 8601 timestamp of when the session record was created.'
          nullable: true
        last_message_at:
          type: string
          nullable: true
          description: 'ISO 8601 timestamp of the most recent message in the session. Drives idle-timeout enforcement.'
        closed_at:
          type: string
          nullable: true
          description: 'ISO 8601 timestamp of when the session closed. Null while open.'
        created_at:
          type: string
          description: 'ISO 8601 timestamp of when the session was created.'
        updated_at:
          type: string
          description: 'ISO 8601 timestamp of the most recent change to the session record.'
        virtual_machine:
          type: object
          properties:
            id:
              type: string
            status:
              type: string
            ready:
              type: boolean
            ports:
              type: array
              items:
                type: object
                properties:
                  port:
                    type: integer
                  name:
                    type: string
                  url:
                    type: string
                  protocol:
                    type: string
          description: 'Summary of the VM backing this session, as `{ id, status, ready, ports }`. Included only when the caller loads the VM relation. List, show, create, and update responses always do. Empty once the VM has been destroyed. For the full VM shape call `GET /vms/{id}`.'
    Snapshot:
      type: object
      properties:
        id:
          type: string
        environment_id:
          type: string
        status:
          type: string
        platform:
          type: string
        size_bytes:
          type: integer
        description:
          type: string
        error:
          type: string
          nullable: true
    Task:
      type: object
      properties:
        id:
          type: string
          description: 'Task ID.'
        account_id:
          type: string
          description: 'Account that owns this task.'
        environment_id:
          type: string
          description: "Environment the task's steps run against. Defaults to the task agent's own environment at create time unless an explicit environment is given."
          nullable: true
        title:
          type: string
          description: "Human-readable title. Rendered from the trigger's task_title_template, or supplied at manual create."
          nullable: true
        prompt:
          type: string
          description: 'Legacy chat prompt. Set when the task was created via the chat composer.'
          nullable: true
        attachments:
          type: array
          items: {  }
          description: 'MCP-aligned attachments hanging off this task.'
        status:
          type: string
          description: "Task lifecycle status:\n\n- `active`: walking through the pipeline's steps.\n- `paused`: a human has paused the walk; no steps advance.\n- `done`: every step completed successfully.\n- `error`: a step failed; the pipeline stopped.\n- `cancelled`: a human cancelled the task."
          enum:
            - active
            - paused
            - done
            - error
            - cancelled
        pipeline_id:
          type: string
          nullable: true
          description: 'Pipeline this task is running against.'
        pipeline_version_id:
          type: string
          nullable: true
          description: 'Specific pipeline version pinned at task create. Stays pinned even when the pipeline publishes newer versions.'
        pipeline_version:
          type: string
          nullable: true
          description: 'Convenience integer mirror of the pinned version.'
        origin:
          type: object
          properties:
            kind:
              type: string
              enum:
                - event
                - schedule
                - manual
              description: "How the task was started:\n\n- `event`: an external event raised it (for example an issue or pull request).\n- `schedule`: a schedule fired and started it.\n- `manual`: a person started it by hand."
            source:
              type: string
              nullable: true
              description: 'The external system that raised the triggering event (for example `github`). Null for a `manual` task.'
            type:
              type: string
              nullable: true
              description: 'The kind of triggering event (for example `pull_request`). Null for a `manual` task.'
            trigger_event_id:
              type: string
              nullable: true
              description: 'ID of the event that started the task, or null when a person created it by hand.'
            playbook_name:
              type: string
              nullable: true
              description: 'Name of the playbook the task is running, or null when the task is not running one.'
          description: 'Where the task came from, for the provenance chip in the list. `source` and `type` describe the external event behind an `event` or `schedule` task and are null for a `manual` one.'
        current_step_id:
          type: string
          nullable: true
          description: 'The step the task is currently on or last completed. Null before the first step kicks off.'
        current_step_index:
          type: string
          nullable: true
          description: "Zero-based index of `current_step_id` in the playbook's steps. Null while no step is in flight."
        current_step_title:
          type: string
          nullable: true
          description: 'Human-readable title of the current step, taken from the playbook. Null before the first step kicks off or when the task is not running a playbook.'
        steps_total:
          type: string
          nullable: true
          description: 'Total number of steps in the playbook this task is running. Null when the task is not running a playbook.'
        is_agent_responding:
          type: boolean
          description: 'True while the agent is actively working a turn on this task. Goes false the moment the turn settles, so a row can stop animating the instant work pauses.'
        fields:
          type: array
          items: {  }
          description: 'Arbitrary key-value bag carried with the task. Read by step templates as `task.fields.X`. Shallow-merged on PATCH.'
        owner_user_id:
          type: string
          nullable: true
          description: 'User who currently owns the task. Null when no one has claimed it.'
        performer_user_id:
          type: string
          nullable: true
          description: "The AI employee doing this task's work, stamped at spawn when the trigger routes work from the event (e.g. to the issue's assignee) and sticky for the task's life. Null when no event-derived performer was resolved; the task then runs as its default execution identity."
        responsible_user_id:
          type: string
          nullable: true
          description: 'The human accountable for this task: its owner. Null when unclaimed - such a task has no responsible human and surfaces through the shared "needs someone" queue rather than routing to anyone. (created_by is the task''s agent, never a human, so it is not a fallback here.)'
        parent_task_id:
          type: string
          nullable: true
          description: 'Parent task when this task is a subtask.'
        paused_at:
          type: string
          nullable: true
          description: 'ISO 8601 timestamp of when the task was paused.'
        done_at:
          type: string
          nullable: true
          description: 'ISO 8601 timestamp of when the task settled (done/error/cancelled).'
        error_details:
          type: string
          nullable: true
          description: 'When status=error, the diagnostic block from the failed step.'
        binding_constraint:
          type: object
          nullable: true
          description: 'What the task is blocked on, or null while it is advancing freely. `kind` is the discriminator; the extra fields depend on it (re-check counters on `waiting`, retry timing on `retrying`).'
          enum:
            - human_gate
            - question
            - waiting
            - retrying
            - action_running
            - paused
          properties:
            kind:
              type: string
              enum:
                - human_gate
                - question
                - waiting
                - retrying
                - action_running
                - paused
              description: "What the task is blocked on:\n\n- `human_gate`: waiting on a person to approve.\n- `question`: the agent asked a person a question and is waiting on the answer.\n- `waiting`: a step is watching a condition and re-checking on a cadence.\n- `retrying`: waiting for compute capacity, retrying automatically.\n- `action_running`: a step is in flight.\n- `paused`: a person paused the task."
            summary:
              type: string
              description: 'Short human-readable description of the constraint.'
            since:
              type: string
              nullable: true
              description: 'ISO 8601 timestamp the constraint started at.'
            action_id:
              type: string
              nullable: true
              description: 'ID of the step execution the constraint is about.'
            session_id:
              type: string
              nullable: true
              description: 'For `question`: the session the question is parked on. An answer is an ordinary message on it.'
            next_check_at:
              type: string
              nullable: true
              description: 'For `waiting`: ISO 8601 timestamp of the next scheduled re-check.'
            deadline_at:
              type: string
              nullable: true
              description: 'For `waiting`: ISO 8601 timestamp after which the wait gives up.'
            checks_used:
              type: integer
              nullable: true
              description: 'For `waiting`: how many of the scheduled re-checks have run so far. Checks triggered early by a matching event are not scheduled re-checks and are not counted here.'
            max_checks:
              type: integer
              nullable: true
              description: 'For `waiting`: the scheduled re-check budget before the wait gives up.'
            next_retry_seconds:
              type: integer
              nullable: true
              description: 'For `retrying`: seconds until the next automatic attempt.'
            retries:
              type: integer
              nullable: true
              description: 'For `retrying`: how many attempts have been made so far.'
        vm_state:
          type: string
        last_activity_at:
          type: string
          description: "ISO 8601 timestamp of the most recent activity touching this task. This is the latest of `updated_at` and any session's `last_activity_at`. Use this (not `updated_at`) for sidebar/list sorting and Today/Yesterday/Recent bucketing: sessions don't bump the parent task on each message, so `updated_at` lags behind real work."
          nullable: true
        last_event_at:
          type: string
          nullable: true
          description: 'ISO 8601 timestamp of the most recent message persisted under this task, across all of its sessions. Unlike `last_activity_at`, this only moves when the agent actually writes a message, so it is the signal to trust for whether a turn is genuinely progressing: if `is_agent_responding` is true but this timestamp has not advanced for a while, the turn has stalled. Null when no session has produced a message yet.'
        idle_timeout_seconds:
          type: integer
          description: 'Seconds of inactivity after which sessions under this task go idle and their VMs are destroyed. Individual sessions can override this when they are created.'
        created_by:
          type: integer
          description: 'ID of the agent this task runs as: its execution identity, which every commit, pull request, and credential resolves to. Always an agent, never a human; the responsible human is `owner_user_id`.'
        created_at:
          type: string
          description: 'ISO 8601 timestamp of when the task was created.'
        updated_at:
          type: string
          description: 'ISO 8601 timestamp of the most recent change to the task record.'
    TaskAction:
      type: object
      properties:
        id:
          type: string
          description: 'Action ID.'
        task_id:
          type: string
          description: 'Task this action belongs to.'
        pipeline_version_id:
          type: string
          description: 'Pipeline version the action was instantiated against. Null for manual ad-hoc actions.'
          nullable: true
        step_id:
          type: string
          description: 'Step id from the handbook definition that produced this action. Null when manual.'
          nullable: true
        kind:
          type: string
          description: "Step kind:\n\n- `ai`: spawns a paired sandbox + harness VM and runs the rendered prompt against the configured model.\n- `human`: opens a gate and parks the task on it. The approver can talk to the agent about the work first (the exchange runs in the session that produced the gate's evidence); the gate itself closes only when a human resolves it.\n- `wait`: an agent re-checks a condition (pass/fail/pending) on a cadence until it resolves or the deadline passes."
          enum:
            - ai
            - human
            - wait
        spec:
          type: object
          properties:
            title:
              type: string
          description: 'The fully-rendered spec the handler ran with. Templates have been substituted at execution time. Internal hint keys (prefixed with `_`) are stripped on read.'
        status:
          type: string
          description: "Action lifecycle status:\n\n- `pending`: queued; not yet picked up.\n- `running`: in flight or awaiting an external completion (AI step harness callback, human gate resolver).\n- `success`: completed successfully; `result` is populated.\n- `failure`: completed with a failure outcome; `result` is populated.\n- `cancelled`: cancelled before completion."
          enum:
            - pending
            - running
            - success
            - failure
            - cancelled
        result:
          type: array
          items: {  }
          description: 'Handler-returned result envelope: `{outcome, evidence}`. Populated when the action settles.'
          nullable: true
        attempt:
          type: integer
          description: 'Retry attempt number for this (task, step_id). Starts at 1.'
        manual:
          type: boolean
          description: 'True when started ad-hoc from the Task page, false when emitted by the engine.'
        started_at:
          type: string
          description: 'ISO 8601 timestamp the handler started.'
          nullable: true
        completed_at:
          type: string
          description: 'ISO 8601 timestamp the action settled.'
          nullable: true
        next_check_at:
          type: string
          nullable: true
          description: 'For a `wait` action: when the next scheduled condition check runs. Null while a scheduled check is in flight, since that check consumed the slot; a check an event triggered early leaves this alone, so the scheduled one still runs on its original beat. For an open `human` gate that declared `escalate_after_seconds`: when its approver pool is next re-pinged, and null once the re-pings are spent. Null for other kinds.'
        deadline_at:
          type: string
          nullable: true
          description: 'For a `wait` action: the hard deadline after which the wait fails. Null for other kinds.'
        pending_resolution:
          type: string
          nullable: true
          description: "For an open `human` gate: the resolution the agent stated in the gate's conversation and is waiting on a human to confirm. Carries `decision` (`approve` / `reject`), `confidence`, `summary` (the sentence to confirm), `proposed_at` and `session_id`. Null when the agent has stated nothing, which is the normal state. **It resolves nothing.** A person still confirms, and the gate closes only through the resolve endpoint."
        escalations:
          type: integer
          description: 'For a `human` gate: how many times its approver pool has been re-pinged for silence. 0 for a gate nobody has been chased about, and for every other kind.'
        escalated_at:
          type: string
          nullable: true
          description: 'ISO 8601 timestamp of the most recent re-ping. Null when there has been none.'
        created_at:
          type: string
          description: 'ISO 8601 timestamp the action row was created.'
    Upload:
      type: object
      properties:
        id:
          type: string
          description: 'Upload ID. Pass this as `inputs[].upload_id` when creating a task, a session, or a message.'
        name:
          type: string
          description: 'The name you gave the file, which is also its filename when the agent reads it.'
        media_type:
          type: string
          description: 'Media type you declared for the content.'
        encoding:
          type: string
          description: 'Character encoding of the content. Always `utf-8`.'
        byte_size:
          type: integer
          description: 'Exact size in bytes you declared. The upload URL accepts a body of exactly this length and nothing else.'
        sha256:
          type: string
          description: 'SHA-256 you declared, in lowercase hex. Checked against the stored file before the upload can be used.'
        status:
          type: string
          description: "Where the upload is in its life:\n\n- `pending`: the location is reserved and the file has not arrived or has not been checked yet.\n- `finalizing`: the file is being checked and moved right now. Transient, and never seen in a successful response.\n- `ready`: the file arrived, matched the size and digest you declared, and can be used as an input.\n- `claimed`: the file has been used as an input and this upload is finished. Uploads cannot be reused."
          enum:
            - pending
            - finalizing
            - ready
            - claimed
        upload_url:
          type: string
          nullable: true
          description: 'The URL to send the file to with an HTTP PUT. Returned only when the upload is created, and only valid until `expires_at`.'
        upload_headers:
          type: string
          nullable: true
          description: 'Headers the PUT must carry exactly as given. They carry the declared length and digest, so storage refuses a body that does not match. Returned only when the upload is created.'
        expires_at:
          type: string
[...]
