openapi: 3.0.3
info:
  title: 'Wallfacer API v1'
  description: 'The Wallfacer API provides two tiers of infrastructure access: a managed Task API for AI-powered coding sessions, and an IaaS VM API for direct virtual machine control.'
  version: 1.0.0
servers:
  -
    url: 'https://api.wallfacer.ai'
tags:
  -
    name: Accounts
    description: 'Manage accounts. Every resource (environments, tasks, VMs) belongs to an account.'
  -
    name: Environments
    description: 'Environments define how a VM is set up: which repo to clone, what commands to run, and what services to start. Create an environment once, then use it to boot VMs or start tasks.'
  -
    name: 'Virtual Machines'
    description: 'Create, manage, and destroy VMs. VMs are always booted from an environment: you pick the environment, and everything else is derived from it.'
  -
    name: Tasks
    description: 'A task represents a unit of work, such as "fix the login bug" or "add dark mode." Create a task, then open sessions against it to start coding conversations.'
  -
    name: 'Account Users'
    description: 'Manage membership and roles on an account. Admins+ can add, update, and remove users.'
  -
    name: Agents
    description: 'Agents are the identities your account runs autonomous work as. Each has a title, a job description (a handbook page), the single environment it works in, and the model that powers it. An automated step names the agent that runs it. Disabling an agent keeps its history but removes it from new work.'
  -
    name: Attachments
    description: "Attachments carry arbitrary content along with a task, such as a ticket body, an external reference, or a file. Text content is prepended to the agent's first message; binary and URI-only content is referenced but not fetched."
  -
    name: Audit
    description: 'Admin-only. Returns audit rows across three streams: execution (what happened on tasks), policy (configuration changes), and access (who looked at what).'
  -
    name: Endpoints
    description: ''
  -
    name: 'Event keys'
    description: "Account-owned keys for ingesting events. Unlike a personal API token, an event key\nbelongs to the account rather than to the person who created it, so it keeps working\nafter that person leaves the account. Use one per integration that sends events to\nyour account (for example, one per webhook source), and revoke them individually.\n\nAn event key authenticates only the event-ingest endpoint (`POST /v1/accounts/{account}/events`).\nIt cannot create tasks, environments, or VMs, or read any account data. Managing keys\n(listing, creating, revoking) requires an admin or owner of the account."
  -
    name: Events
    description: 'Lifecycle event timeline for environment snapshot generation. One row per state transition (setup started, service healthy, environment ready, etc.).'
  -
    name: 'Inbound webhook collectors'
    description: "Account-owned inbound URLs. Each collector gives you a unique URL you paste into an\nexternal system's webhook settings (for example Sentry, Linear, HubSpot, or Stripe).\nWhatever that system POSTs to the URL is captured as an event on your account stream,\nwhere your automation can match on it. No per-system code: the raw payload lands in\nthe event `data` and your conditions read into it.\n\nLike an event key, a collector belongs to the account rather than to the person who\ncreated it, so it keeps working after that person leaves. The full URL carries the\ncollector's secret, so treat it as a credential; you can read it again at any time by\nlisting collectors, and rotate it if it ever leaks. Managing collectors (listing,\ncreating, rotating, deleting) requires an admin or owner of the account."
  -
    name: 'Inbound webhooks'
    description: "Public collector URLs that turn any external system's webhook into an event on your account stream. Create and manage collectors from your account settings, paste the URL into the external system, and the payloads land in your event stream where your automation can match on them."
  -
    name: Invitations
    description: 'Create and manage account invitations. Invitations are for emails that do not yet belong to a Wallfacer user; once accepted, the invitee is attached to the account with the invited role.'
  -
    name: Logs
    description: "Per-manifest-step logs for VMs and environment snapshots. Each entry captures one step's stdout/stderr, status, exit code, and timing."
  -
    name: Pages
    description: 'Handbook pages hold the knowledge half of your handbook: markdown guidance (how to write a great pull request, how to evaluate an idea) that AI agents receive when they run related playbooks. Pages also organize the handbook: a page can hold sub-pages and playbooks, so a page doubles as a section.'
  -
    name: 'Pipeline Versions'
    description: 'Each pipeline keeps an immutable history of versions. Tasks pin to the version active at the time they were created and continue running on that pinned version even after the pipeline publishes a newer one. Publish a new version to change pipeline behavior.'
  -
    name: Pipelines
    description: 'Handbook pipelines define what your AI and humans do for a task: an ordered list of steps (AI or human approval) plus triggers that spawn new tasks from inbound events.'
  -
    name: Search
    description: 'Search across an account in one request. A single query returns matching environments, tasks, sessions, handbook pages, and pipelines, grouped by type.'
  -
    name: Secrets
    description: "Manage encrypted environment secrets. Reference a secret as `${secrets.NAME}` from any string-valued field in the environment's manifest (env values, command lines, working directories, healthcheck URLs and commands, source repo and branch fields, callback URLs); the platform substitutes the decrypted value before the manifest reaches the booting VM. A reference to a secret that does not exist on the environment fails the boot with a diagnostic listing every unresolved name. Values are write-only after creation; once stored, a value cannot be retrieved through any endpoint and must be rotated to replace."
  -
    name: Snapshots
    description: 'Manage snapshots of environments. Each snapshot represents one generation attempt. Successful ones are `ready`; failed ones are preserved so their logs can be inspected.'
  -
    name: 'Task Actions'
    description: 'Every step execution on a task surfaces here. List them to see what the AI or a human has done, resolve a pending human approval, or cancel an in-flight step.'
  -
    name: 'Task Audit'
    description: 'A single, exportable record of a complete task run: the exact playbook version it followed, every step with who or what performed it and the verdict it produced, and the full event timeline.'
  -
    name: 'Task Events'
    description: 'Per-task projection of the event stream. Returns every event attached to the task, whether the caller ingested it directly with `task_ids`, an account-scoped routing pipeline routed it, or a pipeline automation emitted it.'
components:
  securitySchemes:
    default:
      type: http
      scheme: bearer
      description: 'Authenticate using a Bearer token created at `POST /v1/tokens`. Pass it in the `Authorization` header as `Bearer {YOUR_TOKEN}`.'
  schemas:
    Account:
      type: object
      properties:
        id:
          type: string
          description: 'Account ID. Most other endpoints are nested under `/accounts/{id}/` and take this value.'
        name:
          type: string
          description: 'Human-readable account name, as chosen by the account owner.'
        activation_state:
          type: string
          description: "Whether the account has been granted access to the product. New accounts start out awaiting review and cannot use product features until they are activated:\n\n- `pending`: the account is awaiting activation and cannot yet use the product.\n- `active`: the account has been activated and has full access.\n- `paused`: access was activated and later suspended.\n- `rejected`: the account was reviewed and not granted access."
          enum:
            - pending
            - active
            - paused
            - rejected
        activated_at:
          type: string
          nullable: true
          description: 'ISO 8601 timestamp of when the account was activated, or `null` if it has not been activated.'
        avatar_url:
          type: string
          nullable: true
          description: "A temporary URL to the account's avatar image, or `null` when no avatar has been uploaded. The URL expires a few hours after it is issued, so treat it as short-lived: re-read the account rather than storing it. When it is `null`, render your own placeholder."
        created_at:
          type: string
          description: 'ISO 8601 timestamp of when the account was created.'
        updated_at:
          type: string
          description: 'ISO 8601 timestamp of the most recent update to the account record.'
    AccountUser:
      type: object
      properties:
        id:
          type: integer
          description: 'User ID. Use this wherever a user is referenced by ID (for example, `created_by` on tasks).'
        name:
          type: string
          description: 'Full name as stored on the user account.'
        email:
          type: string
          description: 'Primary email on the user account.'
        avatar_url:
          type: string
        github_username:
          type: string
          nullable: true
          description: 'GitHub login connected to this user. Null when the user has not linked a GitHub account.'
        role:
          type: string
          nullable: true
          description: "The user's role on this account:\n\n- `owner`: full control, including changing ownership and removing other owners.\n- `admin`: can add, remove, and update other members, but cannot grant or modify the `owner` role.\n- `member`: can use the API against this account but cannot change membership."
          enum:
            - owner
            - admin
            - member
        joined_at:
          type: string
          nullable: true
          description: 'ISO 8601 timestamp of when the user joined the account.'
        removed_at:
          type: string
          nullable: true
          description: 'ISO 8601 timestamp of when the user was removed from the account. Null while the user is an active member.'
    Agent:
      type: object
      properties:
        id:
          type: integer
          description: 'Unique id of the agent. Reference it as the actor of an automated step in the form `user:<id>`.'
        display_name:
          type: string
          nullable: true
          description: 'Name shown wherever this agent acts, in run history, and in the actor picker.'
        title:
          type: string
          nullable: true
          description: 'Display title describing the role the agent fills, for example "Support Engineer".'
        role_page_id:
          type: string
          nullable: true
          description: "Id of the handbook page that serves as the agent's job description. The page is given to the agent as its role when it works. Null when no role is set."
        environment_id:
          type: string
          nullable: true
          description: 'Id of the single environment the agent works in. Null when no environment is assigned.'
        vendor:
          type: string
          nullable: true
          description: 'The AI vendor that powers the agent, for example "claude". Null when left to the account default.'
        model:
          type: string
          nullable: true
          description: 'The model the agent runs on. Null when left to the vendor default.'
        harness_effort:
          type: string
          nullable: true
          description: 'Reasoning effort the agent works at, in its vendor''s own vocabulary: "low", "medium", "high" for claude and grok; "minimal", "low", "medium", "high", "xhigh" for codex. Set it with the `effort` field on update. Null when left to the harness default, and always null for a vendor with no effort control. Call `GET /models` for each vendor''s options and default.'
        effort_label:
          type: string
          nullable: true
          description: 'Display name for `harness_effort`, for example "Extra High". Render this rather than title-casing the id. Null whenever `harness_effort` is null, or when the stored value is no longer one the vendor offers.'
        disabled:
          type: boolean
          description: 'Whether the agent has been disabled. A disabled agent keeps its id and history but is no longer offered for new work.'
        disabled_at:
          type: string
          nullable: true
          description: 'ISO 8601 timestamp the agent was disabled, or null when active.'
        github_connected:
          type: boolean
          description: 'Whether a git identity is attached to the agent, letting it clone, push, and open changes on its own.'
        github_username:
          type: string
          nullable: true
          description: 'The git login the attached identity resolves to. Null when none is attached.'
        anthropic_connected:
          type: boolean
          description: 'Whether an Anthropic credential is attached to the agent, letting it run Claude models with its own credential.'
        anthropic_credential_kind:
          type: string
          nullable: true
          description: 'How the attached Anthropic credential is typed: "api_key" (a metered API key) or "subscription" (a Claude Pro/Max seat). Null when none is attached.'
        anthropic_credential_attached_at:
          type: string
          nullable: true
          description: "ISO 8601 timestamp the attached Anthropic credential was last set, so the UI can warn on a subscription token's one-year expiry. Null when none is attached."
        anthropic_account_email:
          type: string
          nullable: true
          description: 'Email of the Anthropic account a "subscription" credential signs in as, so two agents can be told apart by the login behind them. Read from the seat''s last usage lookup, so it stays null until one succeeds. Null for a metered API key, and null when the address cannot be read.'
        openai_connected:
          type: boolean
          description: 'Whether an OpenAI credential is attached to the agent, letting it run OpenAI models with its own credential.'
        openai_credential_kind:
          type: string
          nullable: true
          description: 'How the attached OpenAI credential is typed: "api_key" (a metered API key) or "subscription" (a ChatGPT seat). Null when none is attached.'
        openai_credential_attached_at:
          type: string
          nullable: true
          description: 'ISO 8601 timestamp the attached OpenAI credential was last set. Null when none is attached.'
        openai_account_email:
          type: string
          nullable: true
          description: 'Email of the ChatGPT account a "subscription" credential signs in as. Read from the stored credential itself, so it still resolves after the seat''s token is revoked, which is when knowing the login to re-authenticate matters most. Null for a metered API key, and null when the address cannot be read.'
        xai_connected:
          type: boolean
          description: 'Whether an xAI credential is attached to the agent, letting it run Grok models with its own credential.'
        xai_credential_kind:
          type: string
          nullable: true
          description: 'How the attached xAI credential is typed: "api_key" (a metered API key) or "subscription" (a SuperGrok / X Premium+ seat). Null when none is attached.'
        xai_credential_attached_at:
          type: string
          nullable: true
          description: 'ISO 8601 timestamp the attached xAI credential was last set. Null when none is attached.'
        xai_account_email:
          type: string
          nullable: true
          description: 'Email of the xAI account a "subscription" credential signs in as. Always null: an xAI credential carries no readable account identity. Present so a client reads the same field for every vendor.'
        created_at:
          type: string
          nullable: true
          description: 'ISO 8601 timestamp the agent was created.'
    Attachment:
      type: object
      properties:
        uri:
          type: string
          description: 'Canonical URI for the attachment. Inline-only attachments receive a synthetic `wallfacer://attachments/{id}` URI. URI-backed attachments keep the URI the caller provided.'
        name:
          type: string
          description: 'Human-readable name.'
        description:
          type: string
          nullable: true
          description: 'Optional longer description.'
        mimeType:
          type: string
          description: 'RFC 2046 media type for the attachment body. Required when `text` or `blob` is provided.'
          nullable: true
        size:
          type: integer
          description: 'Size of `text` (in bytes) or decoded `blob`. Null for URI-only attachments with no body.'
          nullable: true
        annotations:
          type: object
          nullable: true
          description: 'MCP Resource annotations for LLM hinting (`audience`, `priority`) per the MCP spec. Null on most attachments; use `metadata` for display data.'
          additionalProperties: true
        text:
          type: string
          description: 'Inline text content. Mutually exclusive with `blob`.'
          nullable: true
        blob:
          type: string
          nullable: true
          description: 'Inline binary content, base64-encoded. Mutually exclusive with `text`.'
        id:
          type: string
          description: 'Attachment ID.'
        status:
          type: string
          description: "Content-availability status:\n\n- `ready`: content is available.\n- `failed`: content could not be made available. Inspect `error` for the reason."
          enum:
            - ready
            - failed
        error:
          type: string
          nullable: true
          description: 'Machine-readable failure code when `status: "failed"`. Null when `status: "ready"`.'
        metadata:
          type: object
          nullable: true
          description: 'Free-form display data keyed on `provider`. Stored as-is alongside the attachment.'
          additionalProperties: true
        last_fetched_at:
          type: string
          nullable: true
          description: 'ISO 8601 timestamp of the most recent content fetch. Null when no remote source applies.'
        created_at:
          type: string
          description: 'ISO 8601 timestamp of when the attachment was created.'
        updated_at:
          type: string
          description: 'ISO 8601 timestamp of the most recent change to the attachment record.'
      description: 'Content carried alongside a task. Field names follow the MCP Resource and ResourceContents specifications.'
    Environment:
      type: object
      properties:
        id:
          type: string
          description: 'Environment ID. Use this when booting VMs or creating tasks against this environment.'
        account_id:
          type: string
          description: 'Account that owns this environment.'
        created_by:
          type: integer
          description: 'ID of the user who created this environment.'
        name:
          type: string
          description: 'Human-readable name.'
        description:
          type: string
          nullable: true
          description: 'Optional longer description.'
        visibility:
          type: string
          description: "Who in the account can see and use this environment, and who can change it:\n\n- `private`: only the creator can see, use, or change it. Other account members see a 404.\n- `account_read`: any account member can see it and use it (boot VMs, attach to tasks). Only the creator can edit it, delete it, or manage its snapshots.\n- `account_edit`: any account member can see, use, edit, and delete it. The default for newly-created environments is `private`. Only the creator can change `visibility`."
          enum:
            - private
            - account_read
            - account_edit
        manifest:
          type: string
          nullable: true
          description: "The environment's manifest. Declaratively specifies the VM platform, sources to clone, setup commands, services to start, and health checks. Every VM booted from this environment is configured from this document."
        mcp_servers:
          type: string
          nullable: true
          description: "MCP servers available to the coding agent during sessions on this environment, as an object mapping each server's name to a definition. A **remote** server is `{url, headers}` (hosted https endpoint); a **sandbox** server is `{command, args, env}` (a stdio MCP server the platform runs inside the session VM). Header and env values may reference environment secrets as `${secrets.NAME}`; references are returned as written, never the secret's value. Not part of the manifest: changing it never regenerates the environment's snapshot."
        base_snapshot:
          type: string
          nullable: true
          description: "The environment's current base snapshot, or null if one has never been generated. When present and `ready`, new VMs boot from this snapshot in about 2 seconds instead of running setup from scratch. The object has four fields: `id` (snapshot ID, null until the snapshot actually exists), `status` (`generating`, `ready`, or `failed`), `created_at` (ISO 8601 timestamp, null while generating), and `error` (present only when `status` is `failed`: `{stage, message, failed_at}` describing which generation stage failed and why - read the `provisioning` source at `/environments/{env}/logs` for the full account, including infra-stage failures that produce no step logs). `error` is null unless the current attempt failed."
        created_at:
          type: string
          description: 'ISO 8601 timestamp of when the environment was created.'
        updated_at:
          type: string
          description: 'ISO 8601 timestamp of the most recent change to the environment record.'
    Event:
      type: object
      properties:
        id:
          type: string
          nullable: true
          description: 'Event ID.'
        sequence:
          type: integer
          description: 'Per-account monotonically increasing sequence number. Use this for cursor-stable iteration -- two events with the same `occurred_at` will have different sequences.'
        source:
          type: string
          nullable: true
          description: 'The origin system the event came from, supplied in the `source` field on ingest (e.g. `github`). Half of the routing key.'
        type:
          type: string
          nullable: true
          description: 'Caller-supplied event type, supplied in the `type` field on ingest. Pipeline triggers match on the `(source, type)` pair.'
        attached_to_task_ids:
          type: array
          items: {  }
          description: 'IDs of every task this event has been attached to. Populated either by the caller via the `task_ids` field on the ingest body, or by an account-scoped routing pipeline.'
        data:
          type: array
          items: {  }
          description: 'The event payload posted on ingest. Pipeline conditions read from this via the `${event.data.X}` expression path.'
        actor:
          type: object
          properties:
            kind:
              type: string
          description: 'Structured provenance for who or what produced the event. The `kind` discriminates between `user`, `ai`, `integration`, and `system`; subsequent fields are kind-specific.'
        policy_attribution:
          type: string
          nullable: true
          description: 'When the event was emitted by a pipeline automation, identifies which pipeline, version, and automation produced it. Null for direct ingest.'
        occurred_at:
          type: string
          nullable: true
          description: "ISO 8601 timestamp of when the event happened in the source system. Caller-supplied when ingesting; the platform's clock at emit time for internal events."
        created_at:
          type: string
          nullable: true
          description: 'ISO 8601 timestamp of when the event row was persisted.'
    Eventkey:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        last_used_at:
          type: string
        created_at:
          type: string
    Inboundwebhookcollector:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        url:
          type: string
        source:
          type: string
        type_strategy:
          type: string
        type_key:
          type: string
          nullable: true
        signing_enabled:
          type: boolean
        signature_header:
          type: string
          nullable: true
        last_received_at:
          type: string
        created_at:
          type: string
    Invitation:
      type: object
      properties:
        id:
          type: string
          description: 'Invitation ID.'
        email:
          type: string
          description: 'Email address the invitation was sent to.'
        role:
          type: string
          description: 'Role the invitee receives on acceptance.'
          enum:
            - owner
            - admin
            - member
        account:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
            activation_state:
              type: string
            activated_at:
              type: string
              nullable: true
            avatar_url:
              type: string
              nullable: true
            created_at:
              type: string
            updated_at:
              type: string
          description: 'The account the invitation belongs to, as an `{ id, name, created_at, updated_at }` object. Gives the invitee enough context to recognize which account they are being invited to.'
        invited_by:
          type: object
          properties:
            name:
              type: string
          description: "The user who sent the invitation, as `{ name }`. Intentionally limited to the name only; the public show-by-token endpoint must not expose the inviter's user ID."
          nullable: true
        accepted_at:
          type: string
          nullable: true
          description: 'ISO 8601 timestamp of when the invitation was accepted. Null while pending.'
        expires_at:
          type: string
          description: 'ISO 8601 timestamp of when the invitation expires. Invitations are valid for 7 days after the most recent send.'
        created_at:
          type: string
          description: 'ISO 8601 timestamp of when the invitation was created.'
    Message:
      type: object
      properties:
        id:
          type: string
          description: 'Log entry ID.'
        event:
          type: string
          description: 'Event name. Namespaced (for example, `ios_app.rebuild_started`, `ios_app.rebuild_completed`, `ios_app.rebuild_failed`) so the taxonomy is extensible without breaking clients.'
        level:
          type: string
          description: 'Severity. `info` for normal progress events; `error` for failures. Additional levels may be added as the event taxonomy grows.'
          enum:
            - info
            - error
        payload:
          type: object
          nullable: true
          description: "The raw Claude Code SDK JSONL transcript entry this message wraps. Shape varies by `type`. Treat as opaque except for the subset documented for each `type`.\n\n**For `type:\"user\"`:** `{ message: { role: \"user\", content: [{ text, type: \"text\" }, { type: \"image\", source: { type: \"base64\", data, media_type } }] }, uuid, promptId, timestamp, ... }`. Content blocks may include text, image, or both.\n**For `type:\"assistant\"`:** `{ message: { id, role: \"assistant\", model, usage, stop_reason, content: [ ... mixed content blocks ... ] }, uuid, timestamp, ... }`.\n**For `type:\"last-prompt\"`:** `{ type, sessionId, lastPrompt }`, with no `message` key.\n**For `type:\"queue-operation\"`:** `{ type, operation, sessionId, timestamp }`.\n**For `type:\"ai-title\"`:** `{ type, aiTitle, sessionId }`."
          additionalProperties: true
        created_at:
          type: string
          description: 'ISO 8601 timestamp of when the log entry was recorded.'
      description: 'A single entry in a session transcript. The shape of `payload` varies by `type`; the `type` field is the discriminator.'
    Page:
      type: object
      properties:
        id:
          type: string
          description: 'Page ID.'
        account_id:
          type: string
          description: 'Account that owns this page.'
        parent_page_id:
          type: string
          nullable: true
          description: 'Page this page is filed under. Null for a top-level page.'
        title:
          type: string
          description: 'Page title.'
        body:
          type: string
          description: 'Markdown body. Delivered to AI agents running playbooks related to this page.'
          nullable: true
        description:
          type: string
          description: 'Platform-generated one-line summary, derived from the page content shortly after each edit. Read-only: it exists so AI agents (via the handbook table of contents and search) can decide whether to open the page.'
          nullable: true
        position:
          type: integer
          description: 'Sort position among siblings. Lower sorts first; ties break by creation time.'
        created_by:
          type: integer
          description: 'User who created the page.'
        created_at:
          type: string
          description: 'ISO 8601 timestamp.'
        updated_at:
          type: string
          description: 'ISO 8601 timestamp of the last edit. Pages are mutable; agents always receive the current body.'
        deleted_at:
          type: string
          nullable: true
          description: 'ISO 8601 timestamp the page was deleted. Deleted pages keep their content and history and can be restored by passing `deleted: false` on update. Null while live.'
    PaginationLinks:
      type: object
      properties:
        first:
          type: string
          nullable: true
        last:
          type: string
          nullable: true
        prev:
          type: string
          nullable: true
        next:
          type: string
          nullable: true
    PaginationMeta:
      type: object
      properties:
        path:
          type: string
        per_page:
          type: integer
        next_cursor:
          type: string
          nullable: true
          description: 'Opaque cursor for the next page; null on the last page.'
        prev_cursor:
          type: string
          nullable: true
          description: 'Opaque cursor for the previous page; null on the first page.'
    PaginationMeta4:
      type: object
      properties:
        current_page:
          type: integer
        per_page:
          type: integer
        total:
          type: integer
        last_page:
          type: integer
    PaginationMeta8:
      type: object
      properties:
        current_page:
          type: integer
        from:
          type: integer
          description: 'Index of the first item on the current page; null when the collection is empty.'
          nullable: true
        last_page:
          type: integer
        links:
          type: array
          items:
            type: object
            properties:
              url:
                type: string
                nullable: true
              label:
                type: string
              page:
                type: string
                nullable: true
              active:
                type: boolean
        path:
          type: string
        per_page:
          type: integer
        to:
          type: integer
          description: 'Index of the last item on the current page; null when the collection is empty.'
          nullable: true
        total:
          type: integer
    Pipeline:
      type: object
      properties:
        id:
          type: string
          description: 'Pipeline ID.'
        account_id:
          type: string
          description: 'Account that owns this pipeline.'
        name:
          type: string
          description: 'Human-readable pipeline name. Unique per account among non-archived pipelines.'
        description:
          type: string
          description: 'Optional description shown above the steps in the editor.'
          nullable: true
        active_version:
          type: string
          nullable: true
          description: 'The currently active pipeline version. Carries `{id, version, created_at, steps}`. `steps` is the ordered list of `{id, title, kind}` from the version''s definition: enough to render the pipeline''s outline in a list view without fetching the full version. `kind` is `"ai"` or `"human"`. Null until first publish.'
        version_count:
          type: integer
          description: 'Total number of published versions for this pipeline.'
        task_count:
          type: integer
          description: 'Number of tasks bound to this pipeline.'
        draft:
          type: string
          nullable: true
          description: 'Saved-but-unpublished working copy (`{definition, updated_at, updated_by}`). Null when there are no unpublished edits.'
        parent_page_id:
          type: string
          nullable: true
          description: 'Handbook page this playbook is filed under. Null for a top-level playbook.'
        position:
          type: integer
          description: 'Sort position among siblings in the handbook tree. Lower sorts first; ties break by creation time.'
        linked_page_ids:
          type: array
          items: {  }
          description: 'Handbook pages explicitly linked to this playbook. Linked pages are delivered to the AI agent on every run, regardless of where they live in the handbook tree.'
        disabled_at:
          type: string
          nullable: true
          description: 'ISO 8601 timestamp the pipeline was disabled. While set, the pipeline spawns no tasks but stays visible and editable. Null while enabled.'
        archived_at:
          type: string
          nullable: true
          description: 'ISO 8601 timestamp the pipeline was archived (deleted). Hidden from the default list. Null while active.'
        created_at:
          type: string
          description: 'ISO 8601 timestamp.'
        created_by:
          type: integer
          description: 'User who created the pipeline.'
    PipelineVersion:
      type: object
      properties:
        id:
          type: string
          description: 'Pipeline version ID.'
        pipeline_id:
          type: string
          description: 'Owning pipeline.'
        version:
          type: integer
          description: 'Monotonically increasing version number within the pipeline. Starts at 1.'
        definition:
          type: object
          properties:
            steps:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: string
                  kind:
                    type: string
                  title:
                    type: string
                  content:
                    type: string
                  on_failure:
                    type: string
            triggers:
              type: array
              items: {  }
          description: 'Full pipeline definition as defined in the pipeline format. See the pipeline format docs for the shape.'
        notes:
          type: string
          nullable: true
          description: 'Optional notes captured at publish time. Useful for changelog entries.'
        created_at:
          type: string
          description: 'ISO 8601 timestamp.'
        created_by:
          type: integer
          description: 'User who published this version.'
    Secret:
      type: object
      properties:
        id:
          type: string
          description: 'Stable identifier for the secret.'
        environment_id:
          type: string
          description: 'Environment that owns this secret. Secrets are scoped to a single environment and never shared across environments or accounts.'
        name:
          type: string
          description: 'Reference key the value can be substituted under inside an environment manifest. Always uppercase letters, digits, and underscores.'
        last_accessed_at:
          type: string
          nullable: true
          description: 'ISO 8601 timestamp of the most recent successful unwrap on behalf of a booting VM. Null until the first access.'
        created_at:
          type: string
          description: 'ISO 8601 timestamp of when the secret was created.'
        updated_at:
          type: string
          description: 'ISO 8601 timestamp of the most recent rotation. Equals `created_at` until the first rotation.'
    Session:
      type: object
      properties:
        id:
          type: string
          description: 'Session ID.'
        task_id:
          type: string
          description: 'The task this session belongs to.'
        environment_id:
          type: string
          description: 'The environment this session is booted in. Sessions, not tasks, are bound to environments: sibling sessions of the same task can run in different environments. For example, a backend session and a frontend session that together close one ticket.'
        title:
          type: string
          description: 'Human-readable session title. Auto-generated from the first prompt when not supplied.'
          nullable: true
        status:
          type: string
          description: "Lifecycle status:\n\n- `waiting`: VM capacity was unavailable at creation. The session is waiting to retry.\n- `waiting_for_snapshot`: the environment's base snapshot is generating for the first time. The session will boot once it is ready.\n- `starting`: a VM is provisioning.\n- `active`: the VM is up and the agent is accepting messages.\n- `idle`: no activity within `idle_timeout_seconds`. The VM has been destroyed, but the session can be re-activated by posting a new message.\n- `closed`: explicitly closed, or terminally failed. See `close_reason` for the reason."
          enum:
            - waiting
            - waiting_for_snapshot
            - starting
            - active
            - idle
            - closed
        is_agent_responding:
          type: boolean
          description: 'True while the agent is actively working a turn in this session, from the moment a message is accepted for delivery until the turn settles. Poll this field to tell whether a reply is still in flight, for example to keep a progress indicator up between sending a message and the first agent output.'
        vendor:
          type: string
          description: 'Harness this session is running on. Drives which CLI the harness VM spawns and which assistant name surfaces in prose. Legacy rows default to `claude`.'
          enum:
            - claude
            - codex
            - grok
        harness_model:
          type: string
          nullable: true
          description: 'Model id forwarded as `--model` to the vendor CLI (e.g. `claude-opus-4-8`, `gpt-5.5`). Null means "use the vendor CLI''s default". Bound per-session at create time; there is no per-turn model picker today.'
        harness_effort:
          type: string
          nullable: true
          description: "Reasoning effort this session's turns run at, forwarded to the vendor CLI. The vocabulary is the vendor's and is not normalised across harnesses: claude and grok take `low`, `medium`, `high`; codex takes `minimal`, `low`, `medium`, `high`, `xhigh`. Null means no effort is pinned (either the harness has no effort knob or the session predates effort) and the CLI runs at its own default. Bound per-session at create time. See `GET /models` for each harness's options and default."
        effort_label:
          type: string
          nullable: true
          description: 'Display name for `harness_effort` ("Extra High" for codex `xhigh`). Render this rather than title-casing the id. Null whenever `harness_effort` is null.'
        branch_name:
          type: string
          description: "The git branch this session is working on. Sessions (not tasks) own branch identity, so a task with multiple sessions produces multiple distinct branches. Auto-generated at create time from the creator's initials, the task's first linked issue number (if any), the session title, and a short hash of the session id."
          nullable: true
        base_branch:
          type: string
          nullable: true
          description: "The branch the session's working branch was cut from. In multi-source environments each source can have its own base branch; see `sources[].base_branch` for the per-source values."
        sources:
          type: array
          items:
            type: object
            properties:
              repo:
                type: string
              workspace:
                type: string
              head_branch:
                type: string
              base_branch:
                type: string
              base_commit_sha:
                type: string
                nullable: true
              has_changes:
                type: boolean
              commit_count:
                type: integer
              lines_added:
                type: integer
              lines_removed:
                type: integer
          description: "Per-source git state. One entry per repo the session is working on. Always returned as an array; single-source sessions return a one-element array so clients have one rendering path.\n\nFields per source:\n\n- `repo`: the git repo URL.\n- `workspace`: absolute path to the cloned workspace inside the VM.\n- `head_branch`: the branch checked out in this source. The session's working branch for most sources; a source pinned to a `pull_request` attachment reports that PR's head branch instead, so it can differ across sources.\n- `base_branch`: the branch this source was cut from. Can differ across sources when the environment's manifest tracks different defaults per repo.\n- `base_commit_sha`: the commit the working branch diverged from on this source. Cached on push; null until the first push or VM boot.\n- `has_changes`: whether the workspace has uncommitted changes as of the last check.\n- `commit_count`: number of commits on the working branch ahead of `base_commit_sha`.\n- `lines_added` / `lines_removed`: summed line deltas across all commits on the working branch for this source."
        close_reason:
          type: string
          nullable: true
          description: "Why the session closed. Null while the session is open. Populated on close with one of:\n\n- `user_initiated`: closed via `PATCH /sessions/{id}` with `status: \"closed\"`.\n- `completed`: the agent finished the plan successfully.\n- `vm_failed`: the VM's boot or runtime failed.\n- `setup_failed`: the environment's setup commands failed.\n- `container_failed`: the in-VM container crashed.\n- `snapshot_failed`: a snapshot-backed boot could not restore.\n- `turn_failed`: a harness turn failed (bad model id, provider error, CLI crash). See `error_message`.\n- `resource_exhausted`: no VM capacity was ever available."
          enum:
            - user_initiated
            - completed
            - vm_failed
            - setup_failed
            - container_failed
            - snapshot_failed
            - turn_failed
            - resource_exhausted
        error_message:
          type: string
          nullable: true
          description: 'Human-readable reason the session closed with a failure (e.g. a provider 400 for an un-deployed model, or an environment setup error). Null unless the session closed in an error state; pair it with `close_reason` to distinguish a failed close from a clean or user-initiated one.'
        message_count:
          type: integer
          description: 'Total number of messages in this session, including queued ones that have not yet been delivered to the agent.'
        idle_timeout_seconds:
          type: integer
          description: 'Seconds of inactivity after which this session goes idle and its VM is destroyed. Inherited from the task unless overridden on session create.'
        created_by:
          type: integer
          description: "ID of the agent this session runs as: its execution identity, inherited from the parent task's `created_by`. This is the agent, not a human; the responsible human is the task's owner."
        started_at:
          type: string
          description: 'ISO 8601 timestamp of when the session record was created.'
          nullable: true
        last_message_at:
          type: string
          nullable: true
          description: 'ISO 8601 timestamp of the most recent message in the session. Drives idle-timeout enforcement.'
        closed_at:
          type: string
          nullable: true
          description: 'ISO 8601 timestamp of when the session closed. Null while open.'
        created_at:
          type: string
          description: 'ISO 8601 timestamp of when the session was created.'
        updated_at:
          type: string
          description: 'ISO 8601 timestamp of the most recent change to the session record.'
        virtual_machine:
          type: object
          properties:
            id:
              type: string
            status:
              type: string
            ready:
              type: boolean
            ports:
              type: array
              items:
                type: object
                properties:
                  port:
                    type: integer
                  name:
                    type: string
                  url:
                    type: string
                  protocol:
                    type: string
          description: 'Summary of the VM backing this session, as `{ id, status, ready, ports }`. Included only when the caller loads the VM relation. List, show, create, and update responses always do. Empty once the VM has been destroyed. For the full VM shape call `GET /vms/{id}`.'
    Snapshot:
      type: object
      properties:
        id:
          type: string
        environment_id:
          type: string
        status:
          type: string
        platform:
          type: string
        size_bytes:
          type: integer
        description:
          type: string
        error:
          type: string
          nullable: true
    Task:
      type: object
      properties:
        id:
          type: string
          description: 'Task ID.'
        account_id:
          type: string
          description: 'Account that owns this task.'
        environment_id:
          type: string
          description: "Environment the task's steps run against. Defaults to the task agent's own environment at create time unless an explicit environment is given."
          nullable: true
        title:
          type: string
          description: "Human-readable title. Rendered from the trigger's task_title_template, or supplied at manual create."
          nullable: true
        prompt:
          type: string
          description: 'Legacy chat prompt. Set when the task was created via the chat composer.'
          nullable: true
        attachments:
          type: array
          items: {  }
          description: 'MCP-aligned attachments hanging off this task.'
        status:
          type: string
          description: "Task lifecycle status:\n\n- `active`: walking through the pipeline's steps.\n- `paused`: a human has paused the walk; no steps advance.\n- `done`: every step completed successfully.\n- `error`: a step failed; the pipeline stopped.\n- `cancelled`: a human cancelled the task."
          enum:
            - active
            - paused
            - done
            - error
            - cancelled
        pipeline_id:
          type: string
          nullable: true
          description: 'Pipeline this task is running against.'
        pipeline_version_id:
          type: string
          nullable: true
          description: 'Specific pipeline version pinned at task create. Stays pinned even when the pipeline publishes newer versions.'
        pipeline_version:
          type: string
          nullable: true
          description: 'Convenience integer mirror of the pinned version.'
        origin:
          type: object
          properties:
            kind:
              type: string
              enum:
                - event
                - schedule
                - manual
              description: "How the task was started:\n\n- `event`: an external event raised it (for example an issue or pull request).\n- `schedule`: a schedule fired and started it.\n- `manual`: a person started it by hand."
            source:
              type: string
              nullable: true
              description: 'The external system that raised the triggering event (for example `github`). Null for a `manual` task.'
            type:
              type: string
              nullable: true
              description: 'The kind of triggering event (for example `pull_request`). Null for a `manual` task.'
            trigger_event_id:
              type: string
              nullable: true
              description: 'ID of the event that started the task, or null when a person created it by hand.'
            playbook_name:
              type: string
              nullable: true
              description: 'Name of the playbook the task is running, or null when the task is not running one.'
          description: 'Where the task came from, for the provenance chip in the list. `source` and `type` describe the external event behind an `event` or `schedule` task and are null for a `manual` one.'
        current_step_id:
          type: string
          nullable: true
          description: 'The step the task is currently on or last completed. Null before the first step kicks off.'
        current_step_index:
          type: string
          nullable: true
          description: "Zero-based index of `current_step_id` in the playbook's steps. Null while no step is in flight."
        current_step_title:
          type: string
          nullable: true
          description: 'Human-readable title of the current step, taken from the playbook. Null before the first step kicks off or when the task is not running a playbook.'
        steps_total:
          type: string
          nullable: true
          description: 'Total number of steps in the playbook this task is running. Null when the task is not running a playbook.'
        is_agent_responding:
          type: boolean
          description: 'True while the agent is actively working a turn on this task. Goes false the moment the turn settles, so a row can stop animating the instant work pauses.'
        fields:
          type: array
          items: {  }
          description: 'Arbitrary key-value bag carried with the task. Read by step templates as `task.fields.X`. Shallow-merged on PATCH.'
        owner_user_id:
          type: string
          nullable: true
          description: 'User who currently owns the task. Null when no one has claimed it.'
        performer_user_id:
          type: string
          nullable: true
          description: "The AI employee doing this task's work, stamped at spawn when the trigger routes work from the event (e.g. to the issue's assignee) and sticky for the task's life. Null when no event-derived performer was resolved; the task then runs as its default execution identity."
        responsible_user_id:
          type: string
          nullable: true
          description: 'The human accountable for this task: its owner. Null when unclaimed - such a task has no responsible human and surfaces through the shared "needs someone" queue rather than routing to anyone. (created_by is the task''s agent, never a human, so it is not a fallback here.)'
        parent_task_id:
          type: string
          nullable: true
          description: 'Parent task when this task is a subtask.'
        paused_at:
          type: string
          nullable: true
          description: 'ISO 8601 timestamp of when the task was paused.'
        done_at:
          type: string
          nullable: true
          description: 'ISO 8601 timestamp of when the task settled (done/error/cancelled).'
        error_details:
          type: string
          nullable: true
          description: 'When status=error, the diagnostic block from the failed step.'
        binding_constraint:
          type: object
          nullable: true
          description: 'What the task is blocked on, or null while it is advancing freely. `kind` is the discriminator; the extra fields depend on it (re-check counters on `waiting`, retry timing on `retrying`).'
          enum:
            - human_gate
            - waiting
            - retrying
            - action_running
            - paused
          properties:
            kind:
              type: string
              enum:
                - human_gate
                - waiting
                - retrying
                - action_running
                - paused
              description: "What the task is blocked on:\n\n- `human_gate`: waiting on a person to approve.\n- `waiting`: a step is watching a condition and re-checking on a cadence.\n- `retrying`: waiting for compute capacity, retrying automatically.\n- `action_running`: a step is in flight.\n- `paused`: a person paused the task."
            summary:
              type: string
              description: 'Short human-readable description of the constraint.'
            since:
              type: string
              nullable: true
              description: 'ISO 8601 timestamp the constraint started at.'
            action_id:
              type: string
              nullable: true
              description: 'ID of the step execution the constraint is about.'
            next_check_at:
              type: string
              nullable: true
              description: 'For `waiting`: ISO 8601 timestamp of the next scheduled re-check.'
            deadline_at:
              type: string
              nullable: true
              description: 'For `waiting`: ISO 8601 timestamp after which the wait gives up.'
            checks_used:
              type: integer
              nullable: true
              description: 'For `waiting`: how many re-checks have run so far.'
            max_checks:
              type: integer
              nullable: true
              description: 'For `waiting`: the re-check budget before the wait gives up.'
            next_retry_seconds:
              type: integer
              nullable: true
              description: 'For `retrying`: seconds until the next automatic attempt.'
            retries:
              type: integer
              nullable: true
              description: 'For `retrying`: how many attempts have been made so far.'
        vm_state:
          type: string
        last_activity_at:
          type: string
          description: "ISO 8601 timestamp of the most recent activity touching this task. This is the latest of `updated_at` and any session's `last_activity_at`. Use this (not `updated_at`) for sidebar/list sorting and Today/Yesterday/Recent bucketing: sessions don't bump the parent task on each message, so `updated_at` lags behind real work."
          nullable: true
        last_event_at:
          type: string
          nullable: true
          description: 'ISO 8601 timestamp of the most recent message persisted under this task, across all of its sessions. Unlike `last_activity_at`, this only moves when the agent actually writes a message, so it is the signal to trust for whether a turn is genuinely progressing: if `is_agent_responding` is true but this timestamp has not advanced for a while, the turn has stalled. Null when no session has produced a message yet.'
        idle_timeout_seconds:
          type: integer
          description: 'Seconds of inactivity after which sessions under this task go idle and their VMs are destroyed. Individual sessions can override this when they are created.'
        created_by:
          type: integer
          description: 'ID of the agent this task runs as: its execution identity, which every commit, pull request, and credential resolves to. Always an agent, never a human; the responsible human is `owner_user_id`.'
        created_at:
          type: string
          description: 'ISO 8601 timestamp of when the task was created.'
        updated_at:
          type: string
          description: 'ISO 8601 timestamp of the most recent change to the task record.'
    TaskAction:
      type: object
      properties:
        id:
          type: string
          description: 'Action ID.'
        task_id:
          type: string
          description: 'Task this action belongs to.'
        pipeline_version_id:
          type: string
          description: 'Pipeline version the action was instantiated against. Null for manual ad-hoc actions.'
          nullable: true
        step_id:
          type: string
          description: 'Step id from the handbook definition that produced this action. Null when manual.'
          nullable: true
        kind:
          type: string
          description: "Step kind:\n\n- `ai`: spawns a paired sandbox + harness VM and runs the rendered prompt against the configured model.\n- `human`: opens a gate; waits for an approver to resolve via POST /resolve.\n- `wait`: an agent re-checks a condition (pass/fail/pending) on a cadence until it resolves or the deadline passes."
          enum:
            - ai
            - human
            - wait
        spec:
          type: object
          properties:
            title:
              type: string
          description: 'The fully-rendered spec the handler ran with. Templates have been substituted at execution time. Internal hint keys (prefixed with `_`) are stripped on read.'
        status:
          type: string
          description: "Action lifecycle status:\n\n- `pending`: queued; not yet picked up.\n- `running`: in flight or awaiting an external completion (AI step harness callback, human gate resolver).\n- `success`: completed successfully; `result` is populated.\n- `failure`: completed with a failure outcome; `result` is populated.\n- `cancelled`: cancelled before completion."
          enum:
            - pending
            - running
            - success
            - failure
            - cancelled
        result:
          type: array
          items: {  }
          description: 'Handler-returned result envelope: `{outcome, evidence}`. Populated when the action settles.'
          nullable: true
        attempt:
          type: integer
          description: 'Retry attempt number for this (task, step_id). Starts at 1.'
        manual:
          type: boolean
          description: 'True when started ad-hoc from the Task page, false when emitted by the engine.'
        started_at:
          type: string
          description: 'ISO 8601 timestamp the handler started.'
          nullable: true
        completed_at:
          type: string
          description: 'ISO 8601 timestamp the action settled.'
          nullable: true
        next_check_at:
          type: string
          nullable: true
          description: 'For a `wait` action: when the next condition check is scheduled. Null for other kinds and while a check is in flight.'
        deadline_at:
          type: string
          nullable: true
          description: 'For a `wait` action: the hard deadline after which the wait fails. Null for other kinds.'
        created_at:
          type: string
          description: 'ISO 8601 timestamp the action row was created.'
    VirtualMachine:
      type: object
      properties:
        id:
          type: string
          description: 'VM ID. Use this in every subsequent endpoint that operates on this VM.'
        account_id:
          type: string
          description: 'Account that owns this VM.'
        status:
          type: string
          description: "Lifecycle status:\n\n- `creating`: provisioning is in flight.\n- `running`: the VM is booted and reachable.\n- `stopped`: the VM exists but is not running.\n- `failed`: the boot pipeline aborted. Check `error` for the reason.\n\nNote that `destroyed_at` is a separate signal; it becomes non-null once a VM has been torn down, regardless of the status at teardown."
          enum:
            - creating
            - running
            - stopped
            - failed
        ready:
          type: boolean
          description: 'Whether the VM has completed boot and the in-VM agent is accepting requests. Poll this after `POST /vms`. It flips to `true` once the agent reports ready. Once the VM has been destroyed it stays `false`.'
        ready_at:
          type: string
          nullable: true
          description: 'ISO 8601 timestamp of when `ready` flipped to `true`. Null while still booting.'
        phase:
          type: string
          nullable: true
          description: 'Current boot phase reported by the in-VM agent, useful for surfacing progress during a slow boot. Values roughly follow the manifest lifecycle: `clone` (cloning sources), `setup` (running setup commands), `services` (starting long-running services), and `ready` (agent has finished all lifecycle steps). Null before the agent first reports in. Additional values may be introduced as the manifest lifecycle gains phases, so treat any unknown value as opaque.'
        error:
          type: string
          nullable: true
          description: 'Human-readable error message when the VM failed to boot. Null on success and while still booting.'
        port_mappings:
          type: array
          items:
            type: object
            properties:
              port:
                type: integer
              name:
                type: string
              url:
                type: string
              protocol:
                type: string
          description: 'Public URLs for ports exposed by services in the manifest. Each entry is an object with `name`, `port`, `protocol`, and `url`. Empty until the VM is `ready`.'
        last_activity_at:
          type: string
          description: 'ISO 8601 timestamp of the most recent activity. The idle-timeout enforcer uses this to decide when to destroy an idle VM.'
        destroyed_at:
          type: string
          nullable: true
          description: 'ISO 8601 timestamp of when the VM was destroyed. Null while the VM is still alive.'
        created_at:
          type: string
          description: 'ISO 8601 timestamp of when the VM was created.'
        updated_at:
          type: string
          description: 'ISO 8601 timestamp of the most recent change to the VM record.'
    AesAgentConfig:
      properties:
        command:
          type: string
          description: 'Internal: launch binary for the agent runtime. Set by the platform.'
        args:
          items:
            type: string
          type: array
          description: 'Internal: launch arguments for the agent runtime. Set by the platform.'
        env:
          additionalProperties:
            type: string
          type: object
          description: "Internal: extra environment variables for the agent runtime. Set by the\nplatform."
        port:
          type: integer
          maximum: 65535
          minimum: 1
          description: 'Internal: TCP port the agent HTTP API listens on. Set by the platform.'
        instructions:
          items:
            type: string
          type: array
          description: "Paths to instruction files (relative to the workspace) written into\nthe agent's settings at boot. Example: .claude/CLAUDE.md."
      additionalProperties: false
      type: object
      description: 'AgentConfig defines how the AI agent runtime is configured inside the VM.'
    AesCallbacksConfig:
      properties:
        url:
          type: string
          description: "Webhook endpoint URL. Supports ${VAR} substitution. When omitted, the\nplatform-provided webhook URL is used."
        auth:
          type: string
          description: "Authorization header value, e.g. \"bearer ${WEBHOOK_TOKEN}\". Supports\n${VAR} substitution. When omitted, the platform-provided token is used."
        events:
          items:
            type: string
          type: array
          description: 'Event types to deliver. When omitted, all events are sent.'
      additionalProperties: false
      type: object
      description: 'CallbacksConfig holds webhook configuration for lifecycle events.'
    AesCommand:
      properties:
        run:
          type: string
          description: 'Shell command executed via bash -c. Required.'
        working_dir:
          type: string
          description: "Working directory. Defaults to the first source's workspace."
        env:
          additionalProperties:
            type: string
          type: object
          description: 'Command-specific environment variables, merged with the top-level env.'
        timeout:
          $ref: '#/components/schemas/AesDuration'
          description: 'Maximum execution time. Default: 30m.'
        retries:
          type: integer
          minimum: 0
          description: 'Retries on failure. Default: 1.'
      additionalProperties: false
      type: object
      required:
        - run
      description: 'Command is a named, reusable command invokable via the ready array, the HTTP commands API, or the infrastructure UI; runs as the unprivileged workspace user (appuser on Linux, admin on macOS), matching setup and services, so use sudo explicitly for system-level operations.'
    AesDockerComposeConfig:
      properties:
        app_service:
          type: string
          description: 'Primary service name defined in docker-compose.yml. Required.'
        setup:
          items:
            type: string
          type: array
          description: 'Commands to run before docker-compose up.'
        exec:
          items:
            type: string
          type: array
          description: 'Commands to run inside app_service after services are up.'
      additionalProperties: false
      type: object
      required:
        - app_service
      description: 'DockerComposeConfig is an alternative to setup/services for Docker Compose projects.'
    AesDuration:
      type: string
      pattern: '^[0-9]+(\.[0-9]+)?(ns|us|µs|ms|s|m|h)$'
      description: 'Duration expressed as a decimal number followed by a unit. Supported units: ns, us, ms, s, m, h. Examples: 500ms, 2s, 5m.'
      examples:
        - 2s
        - 30s
        - 5m
        - 500ms
    AesHealthcheck:
      oneOf:
        -
          not:
            required:
              - url
          required:
            - command
        -
          not:
            required:
              - command
          required:
            - url
      properties:
        command:
          type: string
          description: 'Shell command that must exit 0 for the check to pass.'
        url:
          type: string
          pattern: '^(https?|tcp)://'
          description: "URL to probe. http:// and https:// expect a 2xx response; tcp:// expects\nthe connection to be accepted."
        interval:
          $ref: '#/components/schemas/AesDuration'
          description: 'Time between probes. Default: 2s.'
        timeout:
          $ref: '#/components/schemas/AesDuration'
          description: 'Total time allowed before giving up. Default: 60s.'
        retries:
          type: integer
          minimum: 0
          description: 'Maximum probe attempts before failure. Default: 30.'
        start_period:
          $ref: '#/components/schemas/AesDuration'
          description: 'Grace period before the first probe runs. Default: 0s.'
      additionalProperties: false
      type: object
      description: 'Healthcheck verifies that a command succeeded or a service is ready.'
    AesIOSConfig:
      properties:
        device:
          type: string
          description: 'Device model name.'
        runtime:
          type: string
          description: 'iOS runtime version.'
        headless:
          type: boolean
          description: 'Run the simulator in headless mode. Default: true.'
        bundle_id:
          type: string
          description: 'App bundle identifier.'
        build:
          type: string
          description: 'Build/install/launch script.'
        timeout:
          $ref: '#/components/schemas/AesDuration'
          description: 'Max build duration. Default: 30m.'
        ports:
          items:
            $ref: '#/components/schemas/AesPortMapping'
          type: array
          description: 'Ports exposed by the simulator capture service.'
      additionalProperties: false
      type: object
      description: 'IOSConfig is the deprecated single-iOS-simulator block.'
    AesIdentityConfig:
      properties:
        name:
          type: string
          description: 'Commit author name.'
        email:
          type: string
          description: 'Commit author email.'
      additionalProperties: false
      type: object
      description: 'IdentityConfig holds git commit author identity.'
    AesImageConfig:
      properties:
        base:
          type: string
          description: 'Base image identifier, including a version tag. Example: my-base:1.2.0.'
        system:
          $ref: '#/components/schemas/AesSystemConfig'
          description: 'OS-level tuning applied on top of the base image.'
      additionalProperties: false
      type: object
      description: 'ImageConfig defines the base image and OS-level configuration.'
    AesManifest:
      allOf:
        -
          if:
            required:
              - docker_compose
          then:
            properties:
              services:
                maxItems: 0
              setup:
                maxItems: 0
        -
          if:
            properties:
              simulators:
                minItems: 1
            required:
              - simulators
          then:
            properties:
              platform:
                properties:
                  os:
                    not:
                      const: linux/amd64
        -
          if:
            required:
              - ios
          then:
            properties:
              platform:
                properties:
                  os:
                    not:
                      const: linux/amd64
      properties:
        version:
          type: integer
          enum:
            - 1
          description: 'Manifest schema version. Must be 1.'
        platform:
          $ref: '#/components/schemas/AesPlatformConfig'
          description: 'Compute platform and resource requirements.'
        image:
          $ref: '#/components/schemas/AesImageConfig'
          description: 'Base image and OS-level tuning applied on top of the base image.'
        source:
          $ref: '#/components/schemas/AesSourceConfig'
          description: "Single-repo shorthand for source. Populated into sources when sources\nis empty. Prefer sources for new manifests."
        sources:
          items:
            $ref: '#/components/schemas/AesSourceConfig'
          type: array
          description: "Git repositories to clone into the environment. Always an array, even\nfor a single repo. The first entry's workspace is the primary working\ndirectory for commands and agent interaction."
        env:
          additionalProperties:
            type: string
          type: object
          description: "Global environment variables available to all setup commands, services,\nand named commands. Values support ${VAR} substitution and\n${secrets.KEY} references resolved at execution time."
        setup:
          items:
            $ref: '#/components/schemas/AesSetupCommand'
          type: array
          description: "Sequential commands executed during snapshot construction. Each must\ncomplete before the next runs. Results are baked into the snapshot and\nare not re-run on subsequent boots."
        services:
          items:
            $ref: '#/components/schemas/AesService'
          type: array
          description: "Long-running background processes with health checking and dependency\nordering. Started concurrently subject to depends_on. Restarted fresh\non every boot."
        commands:
          additionalProperties:
            $ref: '#/components/schemas/AesCommand'
          type: object
          description: "Named, reusable command blocks. Invokable via the ready array, the\ncommands HTTP API, or the infrastructure UI. The key is the command\nname; values supply the run script and optional overrides."
        ready:
          items:
            type: string
          type: array
          description: "Command names to run sequentially after all services are healthy, on\nevery boot. Use for lightweight, idempotent operations that depend on\nrunning services (migrations, cache priming). Heavy installation\nbelongs in setup. Every entry must name a key in commands."
        mounts:
          items:
            $ref: '#/components/schemas/AesMountConfig'
          type: array
          maxItems: 4
          description: "External filesystem mounts (S3-backed \"drawers\" via FUSE) attached to\nthe environment after it is ready. Mounting happens post-`environment.ready`\nand a mount failure never gates readiness or fails the lifecycle. At most\nfour entries."
        simulators:
          items:
            $ref: '#/components/schemas/AesSimulatorConfig'
          type: array
          description: "Simulator configuration. Only valid when platform.os is darwin/arm64.\nEach entry boots a simulator and optionally registers a build or run\ncommand."
        ios:
          $ref: '#/components/schemas/AesIOSConfig'
          description: "Deprecated: legacy single-iOS-simulator block. Prefer simulators. Kept\nfor backwards-compatible parsing of older manifests."
        docker_compose:
          $ref: '#/components/schemas/AesDockerComposeConfig'
          description: "Alternative to setup/services for Docker Compose projects. Mutually\nexclusive with setup and services."
        agent:
          $ref: '#/components/schemas/AesAgentConfig'
          description: "AI agent configuration: instruction files available to the agent\nduring sessions."
        callbacks:
          $ref: '#/components/schemas/AesCallbacksConfig'
          description: "Webhook event filtering. When omitted, platform-injected webhook\nenvironment variables are used."
        secrets:
          $ref: '#/components/schemas/AesSecrets'
          description: "Placeholder for future encrypted secret declarations. Secret values are\nreferenced in env values and command strings using ${secrets.KEY}\nsyntax and resolved at execution time."
      additionalProperties: false
      type: object
      required:
        - version
      description: 'AgentEnvSpec is the top-level AES manifest.'
      title: 'Agent Environment Spec'
    AesMountConfig:
      anyOf:
        -
          required:
            - region
        -
          required:
            - endpoint
      properties:
        at:
          type: string
          minLength: 1
          description: "Absolute mountpoint inside the VM (e.g. /mnt/drive). Required and unique\nacross all mounts."
        name:
          type: string
          maxLength: 32
          pattern: '^[a-z0-9][a-z0-9-]*$'
          description: "Short identifier used in logs and for the mount-<name> log source.\nDefaults to the last path segment of at. Must match [a-z0-9][a-z0-9-]*\nand be at most 32 characters."
        bucket:
          type: string
          minLength: 1
          description: 'S3 bucket name. Required in v1.'
        prefix:
          type: string
          description: 'Optional key prefix scoping the mount to a subtree of the bucket.'
        region:
          type: string
          description: 'AWS region. Required unless endpoint is set.'
        endpoint:
          type: string
          pattern: '^https://'
          description: "Custom S3 endpoint URL. https only. When omitted the mount targets\nhttps://s3.<region>.amazonaws.com."
        read_only:
          type: boolean
          description: 'Mount read-only. Default false.'
        optional:
          type: boolean
          description: "Advisory hint that the customer expects this mount may be absent. Mounts\nnever gate readiness regardless of this flag; it is accepted and ignored."
        credentials:
          $ref: '#/components/schemas/AesMountCredentials'
          description: "S3 credentials. Required in v1. Values are plaintext by the time the\nmanifest reaches the VM (the platform resolves ${secrets.KEY} before delivery)."
      additionalProperties: false
      type: object
      required:
        - at
        - bucket
        - credentials
      description: 'MountConfig declares one FUSE-backed external filesystem mount (an S3 "drawer").'
    AesMountCredentials:
      properties:
        access_key_id:
          type: string
          minLength: 1
          description: 'AWS access key id. Required.'
        secret_access_key:
          type: string
          minLength: 1
          description: 'AWS secret access key. Required.'
        session_token:
          type: string
          description: 'AWS session token for temporary (STS) credentials. Optional.'
      additionalProperties: false
      type: object
      required:
        - access_key_id
        - secret_access_key
      description: 'MountCredentials holds the S3 access credentials for a MountConfig.'
    AesPlatformConfig:
      properties:
        os:
          type: string
          enum:
            - darwin/arm64
            - linux/amd64
          description: 'Target platform. Accepted values: darwin/arm64, linux/amd64.'
        memory:
          type: integer
          minimum: 0
          description: 'Memory allocation in megabytes. Default: 8192.'
        vcpus:
          type: integer
          minimum: 0
          description: 'Virtual CPU count. Default: 2.'
        gpu:
          type: boolean
          description: 'Reserve GPU access. Default: false.'
      additionalProperties: false
      type: object
      description: 'PlatformConfig declares compute platform and resource requirements.'
    AesPortMapping:
      properties:
        port:
          type: integer
          maximum: 65535
          minimum: 1
          description: 'Port number inside the VM. Required.'
        name:
          type: string
          description: "Unique name for this port mapping. Used to look up the public URL in\nthe VM's port_mappings list."
        protocol:
          type: string
          enum:
            - http
            - ws
            - tcp
          description: 'Protocol hint used by the public URL router. Default: tcp.'
      additionalProperties: false
      type: object
      required:
        - port
        - name
      description: 'PortMapping declares a port exposed by a service.'
    AesSecrets:
      properties: {  }
      additionalProperties: false
      type: object
      description: 'Secrets is a placeholder for future encrypted secret declarations.'
    AesService:
      properties:
        name:
          type: string
          description: 'Unique service name. Required.'
        run:
          type: string
          description: 'Shell command that starts the service. Required.'
        working_dir:
          type: string
          description: "Working directory. Defaults to the first source's workspace."
        env:
          additionalProperties:
            type: string
          type: object
          description: 'Service-specific environment variables, merged with the top-level env.'
        ports:
          items:
            $ref: '#/components/schemas/AesPortMapping'
          type: array
          description: "Ports exposed by this service. Each entry becomes a public URL available\nto the service's consumers."
        healthcheck:
          $ref: '#/components/schemas/AesHealthcheck'
          description: "Readiness probe. The service is not considered started until this\npasses. Dependents wait for it."
        depends_on:
          items:
            type: string
          type: array
          description: "Other service names that must be healthy before this one starts. The\nplatform detects cycles and rejects manifests that contain them."
      additionalProperties: false
      type: object
      required:
        - name
        - run
      description: 'Service is a long-running background process with health checking and dependency management.'
    AesSetupCommand:
      properties:
        name:
          type: string
          description: 'Human-readable label shown in logs and events. Required.'
        run:
          type: string
          description: 'Shell command executed via bash -c. Required.'
        working_dir:
          type: string
          description: "Working directory. Defaults to the first source's workspace."
        env:
          additionalProperties:
            type: string
          type: object
          description: 'Command-specific environment variables, merged with the top-level env.'
        retries:
          type: integer
          minimum: 0
          description: 'Retries on failure. Default: 2.'
        healthcheck:
          $ref: '#/components/schemas/AesHealthcheck'
          description: 'Optional verification that the command produced the expected state.'
      additionalProperties: false
      type: object
      required:
        - name
        - run
      description: 'SetupCommand is a sequential command executed during the setup phase as the unprivileged workspace user (appuser on Linux, admin on macOS), matching the UID services run under so files written during setup remain writable at runtime; use sudo explicitly for system-level operations.'
    AesSimulatorConfig:
      properties:
        platform:
          type: string
          enum:
            - ios
            - android
          description: 'Simulator platform. ios is supported today.'
        device:
          type: string
          description: 'Device model. Server-managed on the public API.'
        runtime:
          type: string
          description: 'OS runtime version. Server-managed on the public API.'
        bundle_id:
          type: string
          description: "App bundle identifier. Used to verify the app launched in the simulator\nafter a build or run. Exposed to scripts as $IOS_BUNDLE_ID."
        run:
          type: string
          description: "Command that starts a development server pointed at the simulator\n(typical for React Native / Expo projects). Generates a run-{platform}\ncommand invokable mid-session."
        build:
          type: string
          description: "Command that compiles, installs, and launches the app (typical for\nnative iOS projects). Generates a build-{platform} command invokable\nmid-session."
      additionalProperties: false
      type: object
      required:
        - platform
      description: 'SimulatorConfig defines a mobile simulator (iOS today; Android reserved).'
    AesSourceConfig:
      properties:
        repo:
          type: string
          description: "Git repository. Short form (owner/repo) or host-qualified\n(github.com/owner/repo or https URL). Required."
        auth:
          type: string
          enum:
            - token
            - ssh-key
          description: "Authentication method. Credentials are injected at boot time and are\nnever stored in the manifest. Default: token."
        workspace:
          type: string
          description: "Absolute path where the repo is cloned. Defaults to\n/workspace/{reponame} on Linux and /Users/admin/workspace/{reponame}\non macOS."
        branch:
          type: string
          description: 'Default branch for snapshot builds. Default: main.'
        clone_strategy:
          type: string
          enum:
            - shallow
            - full
          description: "Clone strategy. shallow uses --depth 1 --single-branch; full fetches\nthe complete history. Default: shallow."
        identity:
          $ref: '#/components/schemas/AesIdentityConfig'
          description: 'Git commit author identity used for commits made inside the VM.'
      additionalProperties: false
      type: object
      required:
        - repo
      description: 'SourceConfig defines a git repository and checkout behavior.'
    AesSystemConfig:
      properties:
        file_descriptor_limit:
          type: integer
          minimum: 0
          description: 'Max open file descriptors per process. Default: inherited from the base image.'
        spotlight:
          type: boolean
          description: 'Disable Spotlight indexing. macOS only.'
        tcc:
          $ref: '#/components/schemas/AesTCCConfig'
          description: 'Pre-authorized macOS TCC access lists. macOS only.'
        locale:
          type: string
          description: 'System locale. Default: en_US.UTF-8.'
      additionalProperties: false
      type: object
      description: 'SystemConfig holds OS-level tuning applied on top of the base image.'
    AesTCCConfig:
      properties:
        apple_events:
          items:
            type: string
          type: array
          description: 'Binaries pre-authorized to send AppleEvents.'
        accessibility:
          items:
            type: string
          type: array
          description: 'Binaries pre-authorized for accessibility automation.'
      additionalProperties: false
      type: object
      description: 'TCCConfig holds macOS TCC pre-authorization lists.'
security:
  -
    default: []
paths:
  /v1/accounts:
    get:
      summary: 'List accounts'
      operationId: listAccounts
      description: 'Returns all accounts the authenticated user belongs to.'
      parameters:
        -
          in: query
          name: per_page
          description: 'Results per page (max 100).'
          example: 25
          required: false
          schema:
            type: integer
            description: 'Results per page (max 100).'
            example: 25
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 019fc37d-21f4-732b-aa93-f04a6016a7a8
                      name: 'Price Ltd'
                      activation_state: active
                      activated_at: null
                      avatar_url: null
                      created_at: '2026-08-02T17:19:45.000000Z'
                      updated_at: '2026-08-02T17:19:45.000000Z'
                    -
                      id: 019fc37d-2207-7382-86bf-c193e26d4a21
                      name: 'Dare Group'
                      activation_state: active
                      activated_at: null
                      avatar_url: null
                      created_at: '2026-08-02T17:19:45.000000Z'
                      updated_at: '2026-08-02T17:19:45.000000Z'
                  links:
                    first: null
                    last: null
                    prev: null
                    next: null
                  meta:
                    path: /
                    per_page: 25
                    next_cursor: null
                    prev_cursor: null
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Account'
                  links:
                    $ref: '#/components/schemas/PaginationLinks'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        401:
          description: 'Missing or invalid API token.'
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      message: Unauthenticated.
                      code: unauthenticated
                properties:
                  errors:
                    type: array
                    example:
                      -
                        message: Unauthenticated.
                        code: unauthenticated
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          example: Unauthenticated.
                        code:
                          type: string
                          example: unauthenticated
      tags:
        - Accounts
    post:
      summary: 'Create an account'
      operationId: createAnAccount
      description: "Creates a new account. The authenticated user is automatically attached as the `owner` of the new account.\n\nUse this when a single user needs to manage multiple accounts (for example, to separate billing or environments per organization)."
      parameters: []
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 019fc37d-221c-7277-98f5-c93bf35f77da
                    name: 'Bailey Inc'
                    activation_state: active
                    activated_at: null
                    avatar_url: null
                    created_at: '2026-08-02T17:19:45.000000Z'
                    updated_at: '2026-08-02T17:19:45.000000Z'
                properties:
                  data:
                    $ref: '#/components/schemas/Account'
        401:
          description: 'Missing or invalid API token.'
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      message: Unauthenticated.
                      code: unauthenticated
                properties:
                  errors:
                    type: array
                    example:
                      -
                        message: Unauthenticated.
                        code: unauthenticated
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          example: Unauthenticated.
                        code:
                          type: string
                          example: unauthenticated
      tags:
        - Accounts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'A human-readable name for the account. Must not be greater than 255 characters.'
                  example: 'Acme Inc.'
              required:
                - name
  '/v1/accounts/{account_id}':
    get:
      summary: 'Get an account'
      operationId: getAnAccount
      description: 'Returns details for a specific account.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 019fc37d-225a-705c-8a49-8cf70b29808d
                    name: 'Price Ltd'
                    activation_state: active
                    activated_at: null
                    avatar_url: null
                    created_at: '2026-08-02T17:19:45.000000Z'
                    updated_at: '2026-08-02T17:19:45.000000Z'
                properties:
                  data:
                    $ref: '#/components/schemas/Account'
        401:
          description: 'Missing or invalid API token.'
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      message: Unauthenticated.
                      code: unauthenticated
                properties:
                  errors:
                    type: array
                    example:
                      -
                        message: Unauthenticated.
                        code: unauthenticated
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          example: Unauthenticated.
                        code:
                          type: string
                          example: unauthenticated
        403:
          description: 'You do not belong to this account.'
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      message: 'You do not belong to this account.'
                      code: forbidden
                properties:
                  errors:
                    type: array
                    example:
                      -
                        message: 'You do not belong to this account.'
                        code: forbidden
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          example: 'You do not belong to this account.'
                        code:
                          type: string
                          example: forbidden
        404:
          description: 'Account not found.'
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      message: 'Resource not found.'
                      code: not_found
                properties:
                  errors:
                    type: array
                    example:
                      -
                        message: 'Resource not found.'
                        code: not_found
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          example: 'Resource not found.'
                        code:
                          type: string
                          example: not_found
      tags:
        - Accounts
    patch:
      summary: 'Update an account'
      operationId: updateAnAccount
      description: "Rename an account. Requires the `admin` or `owner` role on the account.\n\nOnly the `name` field is mutable through the public API."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 019fc37d-2268-72a9-b520-f4d192544f82
                    name: 'Bailey Inc'
                    activation_state: active
                    activated_at: null
                    avatar_url: null
                    created_at: '2026-08-02T17:19:45.000000Z'
                    updated_at: '2026-08-02T17:19:45.000000Z'
                properties:
                  data:
                    $ref: '#/components/schemas/Account'
        401:
          description: 'Missing or invalid API token.'
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      message: Unauthenticated.
                      code: unauthenticated
                properties:
                  errors:
                    type: array
                    example:
                      -
                        message: Unauthenticated.
                        code: unauthenticated
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          example: Unauthenticated.
                        code:
                          type: string
                          example: unauthenticated
        403:
          description: 'Caller is a member of the account but is not an admin or owner.'
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      message: 'This action requires at least the admin role.'
                      code: insufficient_role
                properties:
                  errors:
                    type: array
                    example:
                      -
                        message: 'This action requires at least the admin role.'
                        code: insufficient_role
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          example: 'This action requires at least the admin role.'
                        code:
                          type: string
                          example: insufficient_role
        404:
          description: 'Account not found.'
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      message: 'Resource not found.'
                      code: not_found
                properties:
                  errors:
                    type: array
                    example:
                      -
                        message: 'Resource not found.'
                        code: not_found
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          example: 'Resource not found.'
                        code:
                          type: string
                          example: not_found
      tags:
        - Accounts
      requestBody:
        required: true
        content:
          application/json:
            schema:
[...]
