openapi: 3.0.3
info:
  title: 'Wallfacer API v1'
  description: 'The Wallfacer API provides two tiers of infrastructure access: a managed Task API for AI-powered coding sessions, and an IaaS VM API for direct virtual machine control.'
  version: 1.0.0
servers:
  -
    url: 'https://api.wallfacer.ai'
tags:
  -
    name: Accounts
    description: 'Manage accounts. Every resource (environments, tasks, VMs) belongs to an account.'
  -
    name: Environments
    description: 'Environments define how a VM is set up: which repo to clone, what commands to run, and what services to start. Create an environment once, then use it to boot VMs or start tasks.'
  -
    name: 'Virtual Machines'
    description: 'Create, manage, and destroy VMs. VMs are always booted from an environment: you pick the environment, and everything else is derived from it.'
  -
    name: Tasks
    description: 'A task represents a unit of work, such as "fix the login bug" or "add dark mode." Create a task, then open sessions against it to start coding conversations.'
  -
    name: 'Account Users'
    description: 'Manage membership and roles on an account. Admins+ can add, update, and remove users.'
  -
    name: Attachments
    description: "Attachments carry arbitrary content along with a task, such as a GitHub issue body, an external ticket, or an S3 reference. Text content is prepended to the agent's first message; binary and URI-only content is referenced but not fetched in v1."
  -
    name: Invitations
    description: 'Create and manage account invitations. Invitations are for emails that do not yet belong to a Wallfacer user; once accepted, the invitee is attached to the account with the invited role.'
  -
    name: Logs
    description: "Per-manifest-step logs for VMs and environment snapshots. Each entry captures one step's stdout/stderr, status, exit code, and timing."
  -
    name: Snapshots
    description: 'Manage snapshots of environments. Each snapshot represents one generation attempt. Successful ones are `ready`; failed ones are preserved so their logs can be inspected.'
components:
  securitySchemes:
    default:
      type: http
      scheme: bearer
      description: 'Authenticate using a Bearer token created at `POST /v1/tokens`. Pass it in the `Authorization` header as `Bearer {YOUR_TOKEN}`.'
  schemas:
    Account:
      type: object
      properties:
        id:
          type: string
          description: 'Account ID. Most other endpoints are nested under `/accounts/{id}/` and take this value.'
        name:
          type: string
          description: 'Human-readable account name, as chosen by the account owner.'
        created_at:
          type: string
          description: 'ISO 8601 timestamp of when the account was created.'
        updated_at:
          type: string
          description: 'ISO 8601 timestamp of the most recent update to the account record.'
    AccountUser:
      type: object
      properties:
        id:
          type: integer
          description: 'User ID. Use this wherever a user is referenced by ID (for example, `created_by` on tasks).'
        name:
          type: string
          description: 'Full name as stored on the user account.'
        email:
          type: string
          description: 'Primary email on the user account.'
        github_username:
          type: string
          nullable: true
          description: 'GitHub login connected to this user. Null when the user has not linked a GitHub account.'
        role:
          type: string
          nullable: true
          description: "The user's role on this account:\n\n- `owner`: full control, including changing ownership and removing other owners.\n- `admin`: can add, remove, and update other members, but cannot grant or modify the `owner` role.\n- `member`: can use the API against this account but cannot change membership."
          enum:
            - owner
            - admin
            - member
        joined_at:
          type: string
          nullable: true
          description: 'ISO 8601 timestamp of when the user joined the account.'
        removed_at:
          type: string
          nullable: true
          description: 'ISO 8601 timestamp of when the user was removed from the account. Null while the user is an active member.'
    Attachment:
      type: object
      properties:
        uri:
          type: string
          description: 'Canonical URI for the attachment. Inline-only attachments receive a synthetic `wallfacer://attachments/{id}` URI. URI-backed attachments keep the URI the caller provided.'
        name:
          type: string
          description: 'Human-readable name.'
        description:
          type: string
          nullable: true
          description: 'Optional longer description.'
        mimeType:
          type: string
          description: 'RFC 2046 media type for the attachment body. Required when `text` or `blob` is provided.'
          nullable: true
        size:
          type: integer
          description: 'Size of `text` (in bytes) or decoded `blob`. Null for URI-only attachments with no body.'
          nullable: true
        annotations:
          type: object
          nullable: true
          description: 'MCP Resource annotations for LLM hinting (`audience`, `priority`) per the MCP spec. Null on most attachments; use `metadata` for display data.'
          additionalProperties: true
        text:
          type: string
          description: "Inline text content. Mutually exclusive with `blob`. For resolver-backed attachments, populated with the resolver's rendering (e.g. the GitHub issue body as markdown)."
          nullable: true
        blob:
          type: string
          nullable: true
          description: 'Inline binary content, base64-encoded. Mutually exclusive with `text`.'
        id:
          type: string
          description: 'Attachment ID.'
        status:
          type: string
          description: "Content-availability status:\n\n- `ready`: content is available, either inline or fetched successfully by the resolver.\n- `failed`: the resolver fetch failed; inspect `error` for the reason.\n\nInline and URI-only attachments (those with no resolver) are always `ready`."
          enum:
            - ready
            - failed
        error:
          type: string
          nullable: true
          description: 'Machine-readable failure code when `status: "failed"`. Null when `status: "ready"`. New resolvers may introduce additional codes.'
          enum:
            - null
            - no_github_connection
            - not_found
            - forbidden
            - rate_limited
            - upstream_error
        metadata:
          type: object
          nullable: true
          description: "Resolver-populated display data. Always keyed on `provider`; remaining keys depend on the resolver. Null for inline attachments with no matching resolver.\n\n**GitHub resolver** (URIs matching `https://github.com/{owner}/{repo}/issues/{n}` or `.../pull/{n}`):\n- `provider`: `\"github\"`\n- `type`: `\"issue\"` | `\"pull_request\"`\n- `repo`: `\"owner/repo\"`\n- `number`: issue/PR number as string\n- `state`: `\"open\"` | `\"closed\"` (plus `\"merged\"` for PRs)\n- `author`: GitHub login of the author\n- `labels`: array of label-name strings\n- `assignees`: array of GitHub login strings\n- `url`: canonical `html_url` back to GitHub"
          additionalProperties: true
        last_fetched_at:
          type: string
          nullable: true
          description: 'ISO 8601 timestamp of the most recent resolver fetch for URI-backed attachments. Null for inline-only attachments.'
        created_at:
          type: string
          description: 'ISO 8601 timestamp of when the attachment was created.'
        updated_at:
          type: string
          description: 'ISO 8601 timestamp of the most recent change to the attachment record.'
      description: 'Content carried alongside a task: a GitHub issue, an external ticket, an S3 reference, inline markdown. MCP-aligned field names (see `docs/api-principles.md`).'
    Environment:
      type: object
      properties:
        id:
          type: string
          description: 'Environment ID. Use this when booting VMs or creating tasks against this environment.'
        account_id:
          type: string
          description: 'Account that owns this environment.'
        created_by:
          type: integer
          description: 'ID of the user who created this environment.'
        name:
          type: string
          description: 'Human-readable name.'
        description:
          type: string
          nullable: true
          description: 'Optional longer description.'
        manifest:
          type: string
          nullable: true
          description: "The environment's manifest. Declaratively specifies the VM platform, sources to clone, setup commands, services to start, and health checks. Every VM booted from this environment is configured from this document."
        base_snapshot:
          type: string
          nullable: true
          description: "The environment's current base snapshot, or null if one has never been generated. When present and `ready`, new VMs boot from this snapshot in about 2 seconds instead of running setup from scratch. The object has three fields: `id` (snapshot ID, null until the snapshot actually exists), `status` (`generating`, `ready`, or `failed`), and `created_at` (ISO 8601 timestamp, null while generating)."
        created_at:
          type: string
          description: 'ISO 8601 timestamp of when the environment was created.'
        updated_at:
          type: string
          description: 'ISO 8601 timestamp of the most recent change to the environment record.'
    Invitation:
      type: object
      properties:
        id:
          type: string
          description: 'Invitation ID.'
        email:
          type: string
          description: 'Email address the invitation was sent to.'
        role:
          type: string
          description: 'Role the invitee receives on acceptance.'
          enum:
            - owner
            - admin
            - member
        account:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
            created_at:
              type: string
            updated_at:
              type: string
          description: 'The account the invitation belongs to, as an `{ id, name, created_at, updated_at }` object. Gives the invitee enough context to recognize which account they are being invited to.'
        invited_by:
          type: object
          properties:
            name:
              type: string
          description: "The user who sent the invitation, as `{ name }`. Intentionally limited to the name only; the public show-by-token endpoint must not expose the inviter's user ID."
          nullable: true
        accepted_at:
          type: string
          nullable: true
          description: 'ISO 8601 timestamp of when the invitation was accepted. Null while pending.'
        expires_at:
          type: string
          description: 'ISO 8601 timestamp of when the invitation expires. Invitations are valid for 7 days after the most recent send.'
        created_at:
          type: string
          description: 'ISO 8601 timestamp of when the invitation was created.'
    Message:
      type: object
      properties:
        id:
          type: integer
          description: 'Message ID.'
        session_id:
          type: string
          description: 'Session the message belongs to.'
        payload:
          type: object
          properties:
            type:
              type: string
            message:
              type: object
              properties:
                role:
                  type: string
                content:
                  type: array
                  items:
                    type: object
                    properties:
                      text:
                        type: string
                      type:
                        type: string
          description: "The raw Claude Code SDK JSONL transcript entry this message wraps. Shape varies by `type`. Treat as opaque except for the subset documented for each `type`.\n\n**For `type:\"user\"`:** `{ message: { role: \"user\", content: [{ text, type: \"text\" }] }, uuid, promptId, timestamp, ... }`.\n**For `type:\"assistant\"`:** `{ message: { id, role: \"assistant\", model, usage, stop_reason, content: [ ... mixed content blocks ... ] }, uuid, timestamp, ... }`.\n**For `type:\"last-prompt\"`:** `{ type, sessionId, lastPrompt }`, with no `message` key.\n**For `type:\"queue-operation\"`:** `{ type, operation, sessionId, timestamp }`.\n**For `type:\"ai-title\"`:** `{ type, aiTitle, sessionId }`."
          additionalProperties: true
        type:
          type: string
          description: "Discriminator for the message. Determines the shape of `payload`.\n\n- `user`: a user turn. `payload.message.content[]` has text blocks. Has `display_text` when the platform prepended context (attachments, planning prompts); clients should prefer `display_text` when it is present.\n- `assistant`: a model response. `payload.message.content[]` is a Claude content-blocks array: `{type:\"text\", text}`, `{type:\"thinking\", thinking, signature}`, `{type:\"tool_use\", id, name, input}`. Carries `stop_reason`, `usage`, and `model` on `payload.message`.\n- `attachment`: an in-VM file-reference marker. No `message.content`. Rarely user-visible.\n- `last-prompt`: end-of-turn marker from the in-VM agent. Payload is `{type, sessionId, lastPrompt}` only. Not user-visible; skip rendering.\n- `queue-operation`: queue bookkeeping from the in-VM agent. Payload is `{type, operation, sessionId, timestamp}` only. Not user-visible; skip.\n- `ai-title`: session title emitted by the in-VM agent. Payload is `{type, aiTitle, sessionId}`. Not a conversation turn.\n\nConversation UIs should render `user` and `assistant` only."
          enum:
            - user
            - assistant
            - last-prompt
            - queue-operation
            - attachment
            - ai-title
        sequence:
          type: integer
          description: 'Order within the session, assigned when the message is sent. Queued messages have `sequence: null` and are ordered by `created_at`. Render by `sequence ASC` then `created_at ASC`.'
          nullable: true
        status:
          type: string
          description: "Delivery status:\n\n- `queued`: not yet sent to the agent.\n- `sent`: delivered and part of the transcript.\n- `failed`: delivery failed terminally."
          enum:
            - queued
            - sent
            - failed
        display_text:
          type: string
          nullable: true
          description: 'Clean user-facing text when `payload` contains server-prepended context (for example, attachment preambles on a user turn). Only set on `type:"user"` messages that needed stripping. When null, fall back to `payload.message.content[0].text`.'
        created_at:
          type: string
          description: 'ISO 8601 timestamp of when this message was created (that is, when it entered the queue or was delivered, depending on `status`).'
        updated_at:
          type: string
          description: 'ISO 8601 timestamp of the most recent change to the message record (for example, when it flipped from `queued` to `sent`).'
      description: 'A single entry in a session transcript. The shape of `payload` varies by `type`; the `type` field is the discriminator.'
    PaginationLinks:
      type: object
      properties:
        first:
          type: string
          nullable: true
        last:
          type: string
          nullable: true
        prev:
          type: string
          nullable: true
        next:
          type: string
          nullable: true
    PaginationMeta:
      type: object
      properties:
        path:
          type: string
        per_page:
          type: integer
        next_cursor:
          type: string
          nullable: true
          description: 'Opaque cursor for the next page; null on the last page.'
        prev_cursor:
          type: string
          nullable: true
          description: 'Opaque cursor for the previous page; null on the first page.'
    PaginationMeta4:
      type: object
      properties:
        current_page:
          type: integer
        per_page:
          type: integer
        total:
          type: integer
        last_page:
          type: integer
    PaginationMeta8:
      type: object
      properties:
        current_page:
          type: integer
        from:
          type: integer
          description: 'Index of the first item on the current page; null when the collection is empty.'
          nullable: true
        last_page:
          type: integer
        links:
          type: array
          items:
            type: object
            properties:
              url:
                type: string
                nullable: true
              label:
                type: string
              page:
                type: string
                nullable: true
              active:
                type: boolean
        path:
          type: string
        per_page:
          type: integer
        to:
          type: integer
          description: 'Index of the last item on the current page; null when the collection is empty.'
          nullable: true
        total:
          type: integer
    Session:
      type: object
      properties:
        id:
          type: string
          description: 'Session ID.'
        task_id:
          type: string
          description: 'The task this session belongs to.'
        environment_id:
          type: string
          description: 'The environment this session is booted in. Sessions, not tasks, are bound to environments: sibling sessions of the same task can run in different environments. For example, a backend session and a frontend session that together close one ticket.'
        title:
          type: string
          description: 'Human-readable session title. Auto-generated from the first prompt when not supplied.'
          nullable: true
        status:
          type: string
          description: "Lifecycle status:\n\n- `waiting`: VM capacity was unavailable at creation. The session is waiting to retry.\n- `waiting_for_snapshot`: the environment's base snapshot is generating for the first time. The session will boot once it is ready.\n- `starting`: a VM is provisioning.\n- `active`: the VM is up and the agent is accepting messages.\n- `idle`: no activity within `idle_timeout_seconds`. The VM has been destroyed, but the session can be re-activated by posting a new message.\n- `closed`: explicitly closed, or terminally failed. See `close_reason` for the reason."
          enum:
            - waiting
            - waiting_for_snapshot
            - starting
            - active
            - idle
            - closed
        branch_name:
          type: string
          description: 'The git branch this session is working on. Auto-generated from the task title when not supplied on create.'
          nullable: true
        base_branch:
          type: string
          nullable: true
          description: "The branch the session's working branch was cut from. Auto-detected from the repository's default branch via GitHub when not supplied on create."
        close_reason:
          type: string
          nullable: true
          description: "Why the session closed. Null while the session is open. Populated on close with one of:\n\n- `user_initiated`: closed via `PATCH /sessions/{id}` with `status: \"closed\"`.\n- `completed`: the agent finished the plan successfully.\n- `vm_failed`: the VM's boot or runtime failed.\n- `setup_failed`: the environment's setup commands failed.\n- `container_failed`: the in-VM container crashed.\n- `snapshot_failed`: a snapshot-backed boot could not restore.\n- `resource_exhausted`: no VM capacity was ever available."
          enum:
            - user_initiated
            - completed
            - vm_failed
            - setup_failed
            - container_failed
            - snapshot_failed
            - resource_exhausted
        message_count:
          type: integer
          description: 'Total number of messages in this session, including queued ones that have not yet been delivered to the agent.'
        idle_timeout_seconds:
          type: integer
          description: 'Seconds of inactivity after which this session goes idle and its VM is destroyed. Inherited from the task unless overridden on session create.'
        created_by:
          type: integer
          description: 'ID of the user who owns the session.'
        started_at:
          type: string
          description: 'ISO 8601 timestamp of when the session record was created.'
          nullable: true
        last_message_at:
          type: string
          nullable: true
          description: 'ISO 8601 timestamp of the most recent message in the session. Drives idle-timeout enforcement.'
        closed_at:
          type: string
          nullable: true
          description: 'ISO 8601 timestamp of when the session closed. Null while open.'
        created_at:
          type: string
          description: 'ISO 8601 timestamp of when the session was created.'
        updated_at:
          type: string
          description: 'ISO 8601 timestamp of the most recent change to the session record.'
        virtual_machine:
          type: object
          properties:
            id:
              type: string
            status:
              type: string
            ready:
              type: boolean
            ports:
              type: array
              items:
                type: object
                properties:
                  port:
                    type: integer
                  name:
                    type: string
                  url:
                    type: string
                  protocol:
                    type: string
          description: 'Summary of the VM backing this session, as `{ id, status, ready, ports }`. Included only when the caller loads the VM relation. List, show, create, and update responses always do. Empty once the VM has been destroyed. For the full VM shape call `GET /vms/{id}`.'
    Snapshot:
      type: object
      properties:
        id:
          type: string
        environment_id:
          type: string
        status:
          type: string
        platform:
          type: string
        size_bytes:
          type: integer
        description:
          type: string
    Task:
      type: object
      properties:
        id:
          type: string
          description: 'Task ID.'
        account_id:
          type: string
          description: 'Account that owns this task.'
        title:
          type: string
          description: 'Human-readable title. Auto-generated from the prompt when not supplied at create time.'
          nullable: true
        branch:
          type: string
          description: 'The git branch sessions under this task will work on. Auto-generated from the task title, or from the first attached GitHub issue number when an issue attachment is present, at the moment the first session starts.'
          nullable: true
        prompt:
          type: string
          description: 'The instructions originally given at create time. Sessions default their first message to this value when no explicit `prompt` is passed on session create.'
          nullable: true
        idle_timeout_seconds:
          type: integer
          description: 'Seconds of inactivity after which sessions under this task go idle and their VMs are destroyed. Individual sessions can override this when they are created.'
        started_at:
          type: string
          nullable: true
          description: 'ISO 8601 timestamp of when the first session for this task started.'
        completed_at:
          type: string
          nullable: true
          description: 'ISO 8601 timestamp of when the task was marked complete. Null while the task is still in progress.'
        created_at:
          type: string
          description: 'ISO 8601 timestamp of when the task was created.'
        updated_at:
          type: string
          description: 'ISO 8601 timestamp of the most recent change to the task record.'
        created_by:
          type: integer
          description: 'ID of the user who owns the task. Only the owner can read, update, or delete it, regardless of which token was used to create it.'
    VirtualMachine:
      type: object
      properties:
        id:
          type: string
          description: 'VM ID. Use this in every subsequent endpoint that operates on this VM.'
        account_id:
          type: string
          description: 'Account that owns this VM.'
        status:
          type: string
          description: "Lifecycle status:\n\n- `creating`: provisioning is in flight.\n- `running`: the VM is booted and reachable.\n- `stopped`: the VM exists but is not running.\n- `failed`: the boot pipeline aborted. Check `error` for the reason.\n\nNote that `destroyed_at` is a separate signal; it becomes non-null once a VM has been torn down, regardless of the status at teardown."
          enum:
            - creating
            - running
            - stopped
            - failed
        ready:
          type: boolean
          description: 'Whether the VM has completed boot and the in-VM agent is accepting requests. Poll this after `POST /vms`. It flips to `true` once the agent reports ready. Once the VM has been destroyed it stays `false`.'
        ready_at:
          type: string
          nullable: true
          description: 'ISO 8601 timestamp of when `ready` flipped to `true`. Null while still booting.'
        phase:
          type: string
          nullable: true
          description: 'Current boot phase reported by the in-VM agent, useful for surfacing progress during a slow boot. Values roughly follow the manifest lifecycle: `clone` (cloning sources), `setup` (running setup commands), `services` (starting long-running services), and `ready` (agent has finished all lifecycle steps). Null before the agent first reports in. Additional values may be introduced as the manifest lifecycle gains phases, so treat any unknown value as opaque.'
        error:
          type: string
          nullable: true
          description: 'Human-readable error message when the VM failed to boot. Null on success and while still booting.'
        port_mappings:
          type: array
          items:
            type: object
            properties:
              port:
                type: integer
              name:
                type: string
              url:
                type: string
              protocol:
                type: string
          description: 'Public URLs for ports exposed by services in the manifest. Each entry is an object with `name`, `port`, `protocol`, and `url`. Empty until the VM is `ready`.'
        last_activity_at:
          type: string
          description: 'ISO 8601 timestamp of the most recent activity. The idle-timeout enforcer uses this to decide when to destroy an idle VM.'
        destroyed_at:
          type: string
          nullable: true
          description: 'ISO 8601 timestamp of when the VM was destroyed. Null while the VM is still alive.'
        created_at:
          type: string
          description: 'ISO 8601 timestamp of when the VM was created.'
        updated_at:
          type: string
          description: 'ISO 8601 timestamp of the most recent change to the VM record.'
    AesAgentConfig:
      properties:
        command:
          type: string
          description: 'Internal: launch binary for the agent runtime. Set by the platform.'
        args:
          items:
            type: string
          type: array
          description: 'Internal: launch arguments for the agent runtime. Set by the platform.'
        env:
          additionalProperties:
            type: string
          type: object
          description: "Internal: extra environment variables for the agent runtime. Set by the\nplatform."
        port:
          type: integer
          maximum: 65535
          minimum: 1
          description: 'Internal: TCP port the agent HTTP API listens on. Set by the platform.'
        instructions:
          items:
            type: string
          type: array
          description: "Paths to instruction files (relative to the workspace) written into\nthe agent's settings at boot. Example: .claude/CLAUDE.md."
        mcp_servers:
          additionalProperties:
            $ref: '#/components/schemas/AesMCPServer'
          type: object
          description: "MCP servers launched for the agent as stdio-transport tools. The key is\nthe server name."
      additionalProperties: false
      type: object
      description: 'AgentConfig defines how the AI agent runtime is configured inside the VM.'
    AesCallbacksConfig:
      properties:
        url:
          type: string
          description: "Webhook endpoint URL. Supports ${VAR} substitution. When omitted, the\nplatform-provided webhook URL is used."
        auth:
          type: string
          description: "Authorization header value, e.g. \"bearer ${WEBHOOK_TOKEN}\". Supports\n${VAR} substitution. When omitted, the platform-provided token is used."
        events:
          items:
            type: string
          type: array
          description: 'Event types to deliver. When omitted, all events are sent.'
      additionalProperties: false
      type: object
      description: 'CallbacksConfig holds webhook configuration for lifecycle events.'
    AesCommand:
      properties:
        run:
          type: string
          description: 'Shell command executed via bash -c. Required.'
        working_dir:
          type: string
          description: "Working directory. Defaults to the first source's workspace."
        env:
          additionalProperties:
            type: string
          type: object
          description: 'Command-specific environment variables, merged with the top-level env.'
        timeout:
          $ref: '#/components/schemas/AesDuration'
          description: 'Maximum execution time. Default: 30m.'
        retries:
          type: integer
          minimum: 0
          description: 'Retries on failure. Default: 1.'
      additionalProperties: false
      type: object
      required:
        - run
      description: 'Command is a named, reusable command invokable via the ready array, the HTTP commands API, or the infrastructure UI.'
    AesDockerComposeConfig:
      properties:
        app_service:
          type: string
          description: 'Primary service name defined in docker-compose.yml. Required.'
        setup:
          items:
            type: string
          type: array
          description: 'Commands to run before docker-compose up.'
        exec:
          items:
            type: string
          type: array
          description: 'Commands to run inside app_service after services are up.'
      additionalProperties: false
      type: object
      required:
        - app_service
      description: 'DockerComposeConfig is an alternative to setup/services for Docker Compose projects.'
    AesDuration:
      type: string
      pattern: '^[0-9]+(\.[0-9]+)?(ns|us|µs|ms|s|m|h)$'
      description: 'Duration expressed as a decimal number followed by a unit. Supported units: ns, us, ms, s, m, h. Examples: 500ms, 2s, 5m.'
      examples:
        - 2s
        - 30s
        - 5m
        - 500ms
    AesHealthcheck:
      oneOf:
        -
          not:
            required:
              - url
          required:
            - command
        -
          not:
            required:
              - command
          required:
            - url
      properties:
        command:
          type: string
          description: 'Shell command that must exit 0 for the check to pass.'
        url:
          type: string
          pattern: '^(https?|tcp)://'
          description: "URL to probe. http:// and https:// expect a 2xx response; tcp:// expects\nthe connection to be accepted."
        interval:
          $ref: '#/components/schemas/AesDuration'
          description: 'Time between probes. Default: 2s.'
        timeout:
          $ref: '#/components/schemas/AesDuration'
          description: 'Total time allowed before giving up. Default: 60s.'
        retries:
          type: integer
          minimum: 0
          description: 'Maximum probe attempts before failure. Default: 30.'
        start_period:
          $ref: '#/components/schemas/AesDuration'
          description: 'Grace period before the first probe runs. Default: 0s.'
      additionalProperties: false
      type: object
      description: 'Healthcheck verifies that a command succeeded or a service is ready.'
    AesIOSConfig:
      properties:
        device:
          type: string
          description: 'Device model name.'
        runtime:
          type: string
          description: 'iOS runtime version.'
        headless:
          type: boolean
          description: 'Run the simulator in headless mode. Default: true.'
        bundle_id:
          type: string
          description: 'App bundle identifier.'
        build:
          type: string
          description: 'Build/install/launch script.'
        timeout:
          $ref: '#/components/schemas/AesDuration'
          description: 'Max build duration. Default: 30m.'
        ports:
          items:
            $ref: '#/components/schemas/AesPortMapping'
          type: array
          description: 'Ports exposed by the simulator capture service.'
      additionalProperties: false
      type: object
      description: 'IOSConfig is the deprecated single-iOS-simulator block.'
    AesIdentityConfig:
      properties:
        name:
          type: string
          description: 'Commit author name.'
        email:
          type: string
          description: 'Commit author email.'
      additionalProperties: false
      type: object
      description: 'IdentityConfig holds git commit author identity.'
    AesImageConfig:
      properties:
        base:
          type: string
          description: 'Base image identifier, including a version tag. Example: my-base:1.2.0.'
        system:
          $ref: '#/components/schemas/AesSystemConfig'
          description: 'OS-level tuning applied on top of the base image.'
      additionalProperties: false
      type: object
      description: 'ImageConfig defines the base image and OS-level configuration.'
    AesMCPServer:
      properties:
        command:
          type: string
          description: 'Launch binary for the MCP server.'
        args:
          items:
            type: string
          type: array
          description: 'Launch arguments for the MCP server.'
      additionalProperties: false
      type: object
      description: 'MCPServer declares an MCP server available to the agent.'
    AesManifest:
      allOf:
        -
          if:
            required:
              - docker_compose
          then:
            properties:
              services:
                maxItems: 0
              setup:
                maxItems: 0
        -
          if:
            properties:
              simulators:
                minItems: 1
            required:
              - simulators
          then:
            properties:
              platform:
                properties:
                  os:
                    not:
                      const: linux/amd64
        -
          if:
            required:
              - ios
          then:
            properties:
              platform:
                properties:
                  os:
                    not:
                      const: linux/amd64
      properties:
        version:
          type: integer
          enum:
            - 1
          description: 'Manifest schema version. Must be 1.'
        platform:
          $ref: '#/components/schemas/AesPlatformConfig'
          description: 'Compute platform and resource requirements.'
        image:
          $ref: '#/components/schemas/AesImageConfig'
          description: 'Base image and OS-level tuning applied on top of the base image.'
        source:
          $ref: '#/components/schemas/AesSourceConfig'
          description: "Single-repo shorthand for source. Populated into sources when sources\nis empty. Prefer sources for new manifests."
        sources:
          items:
            $ref: '#/components/schemas/AesSourceConfig'
          type: array
          description: "Git repositories to clone into the environment. Always an array, even\nfor a single repo. The first entry's workspace is the primary working\ndirectory for commands and agent interaction."
        env:
          additionalProperties:
            type: string
          type: object
          description: "Global environment variables available to all setup commands, services,\nand named commands. Values support ${VAR} substitution and\n${secrets.KEY} references resolved at execution time."
        setup:
          items:
            $ref: '#/components/schemas/AesSetupCommand'
          type: array
          description: "Sequential commands executed during snapshot construction. Each must\ncomplete before the next runs. Results are baked into the snapshot and\nare not re-run on subsequent boots."
        services:
          items:
            $ref: '#/components/schemas/AesService'
          type: array
          description: "Long-running background processes with health checking and dependency\nordering. Started concurrently subject to depends_on. Restarted fresh\non every boot."
        commands:
          additionalProperties:
            $ref: '#/components/schemas/AesCommand'
          type: object
          description: "Named, reusable command blocks. Invokable via the ready array, the\ncommands HTTP API, or the infrastructure UI. The key is the command\nname; values supply the run script and optional overrides."
        ready:
          items:
            type: string
          type: array
          description: "Command names to run sequentially after all services are healthy, on\nevery boot. Use for lightweight, idempotent operations that depend on\nrunning services (migrations, cache priming). Heavy installation\nbelongs in setup. Every entry must name a key in commands."
        simulators:
          items:
            $ref: '#/components/schemas/AesSimulatorConfig'
          type: array
          description: "Simulator configuration. Only valid when platform.os is darwin/arm64.\nEach entry boots a simulator and optionally registers a build or run\ncommand."
        ios:
          $ref: '#/components/schemas/AesIOSConfig'
          description: "Deprecated: legacy single-iOS-simulator block. Prefer simulators. Kept\nfor backwards-compatible parsing of older manifests."
        docker_compose:
          $ref: '#/components/schemas/AesDockerComposeConfig'
          description: "Alternative to setup/services for Docker Compose projects. Mutually\nexclusive with setup and services."
        agent:
          $ref: '#/components/schemas/AesAgentConfig'
          description: "AI agent configuration: instruction files and MCP servers available to\nthe agent during sessions."
        callbacks:
          $ref: '#/components/schemas/AesCallbacksConfig'
          description: "Webhook event filtering. When omitted, platform-injected webhook\nenvironment variables are used."
        secrets:
          $ref: '#/components/schemas/AesSecrets'
          description: "Placeholder for future encrypted secret declarations. Secret values are\nreferenced in env values and command strings using ${secrets.KEY}\nsyntax and resolved at execution time."
      additionalProperties: false
      type: object
      required:
        - version
      description: 'AgentEnvSpec is the top-level AES manifest.'
      title: 'Agent Environment Spec'
    AesPlatformConfig:
      properties:
        os:
          type: string
          enum:
            - darwin/arm64
            - linux/amd64
          description: 'Target platform. Accepted values: darwin/arm64, linux/amd64.'
        memory:
          type: integer
          minimum: 0
          description: 'Memory allocation in megabytes. Default: 8192.'
        vcpus:
          type: integer
          minimum: 0
          description: 'Virtual CPU count. Default: 2.'
        gpu:
          type: boolean
          description: 'Reserve GPU access. Default: false.'
      additionalProperties: false
      type: object
      description: 'PlatformConfig declares compute platform and resource requirements.'
    AesPortMapping:
      properties:
        port:
          type: integer
          maximum: 65535
          minimum: 1
          description: 'Port number inside the VM. Required.'
        name:
          type: string
          description: "Unique name for this port mapping. Used to look up the public URL in\nthe VM's port_mappings list."
        protocol:
          type: string
          enum:
            - http
            - ws
            - tcp
          description: 'Protocol hint used by the public URL router. Default: tcp.'
      additionalProperties: false
      type: object
      required:
        - port
        - name
      description: 'PortMapping declares a port exposed by a service.'
    AesSecrets:
      properties: {}
      additionalProperties: false
      type: object
      description: 'Secrets is a placeholder for future encrypted secret declarations.'
    AesService:
      properties:
        name:
          type: string
          description: 'Unique service name. Required.'
        run:
          type: string
          description: 'Shell command that starts the service. Required.'
        working_dir:
          type: string
          description: "Working directory. Defaults to the first source's workspace."
        env:
          additionalProperties:
            type: string
          type: object
          description: 'Service-specific environment variables, merged with the top-level env.'
        ports:
          items:
            $ref: '#/components/schemas/AesPortMapping'
          type: array
          description: "Ports exposed by this service. Each entry becomes a public URL available\nto the service's consumers."
        healthcheck:
          $ref: '#/components/schemas/AesHealthcheck'
          description: "Readiness probe. The service is not considered started until this\npasses. Dependents wait for it."
        depends_on:
          items:
            type: string
          type: array
          description: "Other service names that must be healthy before this one starts. The\nplatform detects cycles and rejects manifests that contain them."
      additionalProperties: false
      type: object
      required:
        - name
        - run
      description: 'Service is a long-running background process with health checking and dependency management.'
    AesSetupCommand:
      properties:
        name:
          type: string
          description: 'Human-readable label shown in logs and events. Required.'
        run:
          type: string
          description: 'Shell command executed via bash -c. Required.'
        working_dir:
          type: string
          description: "Working directory. Defaults to the first source's workspace."
        env:
          additionalProperties:
            type: string
          type: object
          description: 'Command-specific environment variables, merged with the top-level env.'
        retries:
          type: integer
          minimum: 0
          description: 'Retries on failure. Default: 2.'
        healthcheck:
          $ref: '#/components/schemas/AesHealthcheck'
          description: 'Optional verification that the command produced the expected state.'
      additionalProperties: false
      type: object
      required:
        - name
        - run
      description: 'SetupCommand is a sequential command executed during the setup phase.'
    AesSimulatorConfig:
      properties:
        platform:
          type: string
          enum:
            - ios
            - android
          description: 'Simulator platform. ios is supported today.'
        device:
          type: string
          description: 'Device model. Server-managed on the public API.'
        runtime:
          type: string
          description: 'OS runtime version. Server-managed on the public API.'
        bundle_id:
          type: string
          description: "App bundle identifier. Used to verify the app launched in the simulator\nafter a build or run. Exposed to scripts as $IOS_BUNDLE_ID."
        run:
          type: string
          description: "Command that starts a development server pointed at the simulator\n(typical for React Native / Expo projects). Generates a run-{platform}\ncommand invokable mid-session."
        build:
          type: string
          description: "Command that compiles, installs, and launches the app (typical for\nnative iOS projects). Generates a build-{platform} command invokable\nmid-session."
      additionalProperties: false
      type: object
      required:
        - platform
      description: 'SimulatorConfig defines a mobile simulator (iOS today; Android reserved).'
    AesSourceConfig:
      properties:
        repo:
          type: string
          description: "Git repository. Short form (owner/repo) or host-qualified\n(github.com/owner/repo or https URL). Required."
        auth:
          type: string
          enum:
            - token
            - ssh-key
          description: "Authentication method. Credentials are injected at boot time and are\nnever stored in the manifest. Default: token."
        workspace:
          type: string
          description: "Absolute path where the repo is cloned. Defaults to\n/workspace/{reponame} on Linux and /Users/admin/workspace/{reponame}\non macOS."
        branch:
          type: string
          description: 'Default branch for snapshot builds. Default: main.'
        clone_strategy:
          type: string
          enum:
            - shallow
            - full
          description: "Clone strategy. shallow uses --depth 1 --single-branch; full fetches\nthe complete history. Default: shallow."
        identity:
          $ref: '#/components/schemas/AesIdentityConfig'
          description: 'Git commit author identity used for commits made inside the VM.'
      additionalProperties: false
      type: object
      required:
        - repo
      description: 'SourceConfig defines a git repository and checkout behavior.'
    AesSystemConfig:
      properties:
        file_descriptor_limit:
          type: integer
          minimum: 0
          description: 'Max open file descriptors per process. Default: inherited from the base image.'
        spotlight:
          type: boolean
          description: 'Disable Spotlight indexing. macOS only.'
        tcc:
          $ref: '#/components/schemas/AesTCCConfig'
          description: 'Pre-authorized macOS TCC access lists. macOS only.'
        locale:
          type: string
          description: 'System locale. Default: en_US.UTF-8.'
      additionalProperties: false
      type: object
      description: 'SystemConfig holds OS-level tuning applied on top of the base image.'
    AesTCCConfig:
      properties:
        apple_events:
          items:
            type: string
          type: array
          description: 'Binaries pre-authorized to send AppleEvents.'
        accessibility:
          items:
            type: string
          type: array
          description: 'Binaries pre-authorized for accessibility automation.'
      additionalProperties: false
      type: object
      description: 'TCCConfig holds macOS TCC pre-authorization lists.'
security:
  -
    default: []
paths:
  /v1/accounts:
    get:
      summary: 'List accounts'
      operationId: listAccounts
      description: 'Returns all accounts the authenticated user belongs to.'
      parameters:
        -
          in: query
          name: per_page
          description: 'Results per page (max 100).'
          example: 25
          required: false
          schema:
            type: integer
            description: 'Results per page (max 100).'
            example: 25
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 019db65d-cc8f-70e9-a486-fb30e4c95fbd
                      name: 'Price Ltd'
                      created_at: '2026-04-22T18:04:53.000000Z'
                      updated_at: '2026-04-22T18:04:53.000000Z'
                    -
                      id: 019db65d-cc99-7042-a602-7a407b0fbb98
                      name: 'Dare Group'
                      created_at: '2026-04-22T18:04:53.000000Z'
                      updated_at: '2026-04-22T18:04:53.000000Z'
                  links:
                    first: null
                    last: null
                    prev: null
                    next: null
                  meta:
                    path: /
                    per_page: 25
                    next_cursor: null
                    prev_cursor: null
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Account'
                  links:
                    $ref: '#/components/schemas/PaginationLinks'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        401:
          description: 'Missing or invalid API token.'
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      message: Unauthenticated.
                      code: unauthenticated
                properties:
                  errors:
                    type: array
                    example:
                      -
                        message: Unauthenticated.
                        code: unauthenticated
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          example: Unauthenticated.
                        code:
                          type: string
                          example: unauthenticated
      tags:
        - Accounts
  '/v1/accounts/{account_id}':
    get:
      summary: 'Get an account'
      operationId: getAnAccount
      description: 'Returns details for a specific account.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 019db65d-ce11-720a-b5af-b7a479203eb7
                    name: 'Price Ltd'
                    created_at: '2026-04-22T18:04:54.000000Z'
                    updated_at: '2026-04-22T18:04:54.000000Z'
                properties:
                  data:
                    $ref: '#/components/schemas/Account'
        401:
          description: 'Missing or invalid API token.'
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      message: Unauthenticated.
                      code: unauthenticated
                properties:
                  errors:
                    type: array
                    example:
                      -
                        message: Unauthenticated.
                        code: unauthenticated
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          example: Unauthenticated.
                        code:
                          type: string
                          example: unauthenticated
        403:
          description: 'You do not belong to this account.'
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      message: 'You do not belong to this account.'
                      code: forbidden
                properties:
                  errors:
                    type: array
                    example:
                      -
                        message: 'You do not belong to this account.'
                        code: forbidden
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          example: 'You do not belong to this account.'
                        code:
                          type: string
                          example: forbidden
        404:
          description: 'Account not found.'
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      message: 'Resource not found.'
                      code: not_found
                properties:
                  errors:
                    type: array
                    example:
                      -
                        message: 'Resource not found.'
                        code: not_found
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          example: 'Resource not found.'
                        code:
                          type: string
                          example: not_found
      tags:
        - Accounts
    parameters:
      -
        in: path
        name: account_id
        description: 'The ID of the account.'
        example: 019dadf8-f051-7127-8382-de3ad4fbe86c
        required: true
        schema:
          type: string
  '/v1/accounts/{account_id}/environments':
    get:
      summary: 'List environments'
      operationId: listEnvironments
      description: 'Returns all environments for the account.'
      parameters:
        -
          in: query
          name: per_page
          description: 'Results per page (max 100).'
          example: 25
          required: false
          schema:
            type: integer
            description: 'Results per page (max 100).'
            example: 25
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 019db65d-cf0d-7394-9017-5f4adc4aa9eb
                      account_id: 019db65d-ce68-70bf-b11f-874ee9886032
                      created_by: 573
                      name: 'aut adipisci'
                      description: null
                      manifest: null
                      base_snapshot: null
                      created_at: '2026-04-22T18:04:54.000000Z'
                      updated_at: '2026-04-22T18:04:54.000000Z'
                    -
                      id: 019db65d-cfb3-73bd-8bc5-97768aef51af
                      account_id: 019db65d-cf10-73c3-aa73-5120c6680518
                      created_by: 574
                      name: 'facere tempora'
                      description: null
                      manifest: null
                      base_snapshot: null
                      created_at: '2026-04-22T18:04:54.000000Z'
                      updated_at: '2026-04-22T18:04:54.000000Z'
                  links:
                    first: null
                    last: null
                    prev: null
                    next: null
                  meta:
                    path: /
                    per_page: 25
                    next_cursor: null
                    prev_cursor: null
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Environment'
                  links:
                    $ref: '#/components/schemas/PaginationLinks'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        401:
          description: 'Missing or invalid API token.'
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      message: Unauthenticated.
                      code: unauthenticated
                properties:
                  errors:
                    type: array
                    example:
                      -
                        message: Unauthenticated.
                        code: unauthenticated
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          example: Unauthenticated.
                        code:
                          type: string
                          example: unauthenticated
        403:
          description: 'You do not belong to this account.'
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      message: 'You do not belong to this account.'
                      code: forbidden
                properties:
                  errors:
                    type: array
                    example:
                      -
                        message: 'You do not belong to this account.'
                        code: forbidden
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          example: 'You do not belong to this account.'
                        code:
                          type: string
                          example: forbidden
      tags:
        - Environments
    post:
      summary: 'Create an environment'
      operationId: createAnEnvironment
      description: 'Creates a new environment. If a manifest is provided, a snapshot is generated automatically for faster VM boot times.'
      parameters:
        -
          in: header
          name: Idempotency-Key
          description: ''
          example: optional-unique-request-id
          schema:
            type: string
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 019db65d-d060-703a-b3be-f8c8789a9c1f
                    account_id: 019db65d-cfbc-72ba-8e62-60b92c08f992
                    created_by: 575
                    name: 'architecto eius'
                    description: null
                    manifest: null
                    base_snapshot: null
                    created_at: '2026-04-22T18:04:54.000000Z'
                    updated_at: '2026-04-22T18:04:54.000000Z'
                properties:
                  data:
                    $ref: '#/components/schemas/Environment'
        401:
          description: 'Missing or invalid API token.'
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      message: Unauthenticated.
                      code: unauthenticated
                properties:
                  errors:
                    type: array
                    example:
                      -
                        message: Unauthenticated.
                        code: unauthenticated
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          example: Unauthenticated.
                        code:
                          type: string
                          example: unauthenticated
        403:
          description: 'You do not belong to this account.'
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      message: 'You do not belong to this account.'
                      code: forbidden
                properties:
                  errors:
                    type: array
                    example:
                      -
                        message: 'You do not belong to this account.'
                        code: forbidden
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          example: 'You do not belong to this account.'
                        code:
                          type: string
                          example: forbidden
        422:
          description: 'Validation failed.'
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      message: 'The field is required.'
                      code: validation_error
                properties:
                  errors:
                    type: array
                    example:
                      -
                        message: 'The field is required.'
                        code: validation_error
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          example: 'The field is required.'
                        code:
                          type: string
                          example: validation_error
        429:
          description: 'Rate limit exceeded. Check Retry-After header.'
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      message: 'Too many requests.'
                      code: rate_limited
                properties:
                  errors:
                    type: array
                    example:
                      -
                        message: 'Too many requests.'
                        code: rate_limited
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          example: 'Too many requests.'
                        code:
                          type: string
                          example: rate_limited
      tags:
        - Environments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'A human-readable name for the environment. Must not be greater than 255 characters.'
                  example: 'Production API'
                description:
                  type: string
                  description: 'Optional description of what this environment is for. Must not be greater than 5000 characters.'
                  example: 'Node.js API with PostgreSQL and Redis'
                  nullable: true
                manifest:
                  description: 'AES manifest defining the VM platform, sources, setup, services, and health checks.'
                  allOf:
                    -
                      $ref: '#/components/schemas/AesManifest'
              required:
                - name
    parameters:
      -
        in: path
        name: account_id
        description: 'The ID of the account.'
        example: 019dadf8-f051-7127-8382-de3ad4fbe86c
        required: true
        schema:
          type: string
  '/v1/accounts/{account_id}/environments/{environment_id}':
    get:
      summary: 'Get an environment'
      operationId: getAnEnvironment
      description: 'Returns the full details of a specific environment.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 019db65d-d115-710f-a218-e2eec3fe825f
                    account_id: 019db65d-d067-7101-bc8f-f28e7a306d5a
                    created_by: 576
                    name: 'aut adipisci'
                    description: null
                    manifest: null
                    base_snapshot: null
                    created_at: '2026-04-22T18:04:54.000000Z'
                    updated_at: '2026-04-22T18:04:54.000000Z'
                properties:
                  data:
                    $ref: '#/components/schemas/Environment'
        401:
          description: 'Missing or invalid API token.'
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      message: Unauthenticated.
                      code: unauthenticated
                properties:
                  errors:
                    type: array
                    example:
                      -
                        message: Unauthenticated.
                        code: unauthenticated
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          example: Unauthenticated.
                        code:
                          type: string
                          example: unauthenticated
        403:
          description: 'You do not belong to this account.'
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      message: 'You do not belong to this account.'
                      code: forbidden
                properties:
                  errors:
                    type: array
                    example:
                      -
                        message: 'You do not belong to this account.'
                        code: forbidden
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          example: 'You do not belong to this account.'
                        code:
                          type: string
                          example: forbidden
        404:
          description: 'Environment not found.'
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      message: 'Resource not found.'
                      code: not_found
                properties:
                  errors:
                    type: array
                    example:
                      -
                        message: 'Resource not found.'
                        code: not_found
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          example: 'Resource not found.'
                        code:
                          type: string
                          example: not_found
      tags:
        - Environments
    patch:
      summary: 'Update an environment'
      operationId: updateAnEnvironment
      description: 'Updates an environment. If the manifest changes, the snapshot is regenerated automatically.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 019db65d-d1c2-73fc-bb0e-e405224ffa79
                    account_id: 019db65d-d11e-721c-8565-96d268f9ce19
                    created_by: 577
                    name: 'architecto eius'
                    description: null
                    manifest: null
                    base_snapshot: null
                    created_at: '2026-04-22T18:04:55.000000Z'
                    updated_at: '2026-04-22T18:04:55.000000Z'
                properties:
                  data:
                    $ref: '#/components/schemas/Environment'
        401:
          description: 'Missing or invalid API token.'
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      message: Unauthenticated.
                      code: unauthenticated
                properties:
                  errors:
                    type: array
                    example:
                      -
                        message: Unauthenticated.
                        code: unauthenticated
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          example: Unauthenticated.
                        code:
                          type: string
                          example: unauthenticated
        403:
          description: 'You do not belong to this account.'
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      message: 'You do not belong to this account.'
                      code: forbidden
                properties:
                  errors:
                    type: array
                    example:
                      -
                        message: 'You do not belong to this account.'
                        code: forbidden
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          example: 'You do not belong to this account.'
                        code:
                          type: string
                          example: forbidden
        404:
          description: 'Environment not found.'
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      message: 'Resource not found.'
                      code: not_found
                properties:
                  errors:
                    type: array
                    example:
                      -
                        message: 'Resource not found.'
                        code: not_found
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          example: 'Resource not found.'
                        code:
                          type: string
                          example: not_found
        422:
          description: 'Validation failed.'
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      message: 'The field is required.'
                      code: validation_error
                properties:
                  errors:
                    type: array
                    example:
                      -
                        message: 'The field is required.'
                        code: validation_error
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          example: 'The field is required.'
                        code:
                          type: string
                          example: validation_error
        429:
          description: 'Rate limit exceeded. Check Retry-After header.'
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      message: 'Too many requests.'
                      code: rate_limited
                properties:
                  errors:
                    type: array
                    example:
                      -
                        message: 'Too many requests.'
                        code: rate_limited
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          example: 'Too many requests.'
                        code:
                          type: string
                          example: rate_limited
      tags:
        - Environments
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'A human-readable name for the environment. Must not be greater than 255 characters.'
                  example: 'Production API'
                description:
                  type: string
                  description: 'Optional description of what this environment is for. Must not be greater than 5000 characters.'
                  example: 'Node.js API with PostgreSQL and Redis'
                  nullable: true
                manifest:
                  description: 'AES manifest defining the VM platform, sources, setup, services, and health checks.'
                  allOf:
                    -
                      $ref: '#/components/schemas/AesManifest'
    delete:
      summary: 'Delete an environment'
      operationId: deleteAnEnvironment
      description: 'Permanently deletes an environment. This does not destroy any running VMs that were created from this environment.'
      parameters: []
      responses:
        204:
          description: 'Environment deleted'
          content:
            text/plain:
              schema:
                type: string
                example: ''
        401:
          description: 'Missing or invalid API token.'
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      message: Unauthenticated.
                      code: unauthenticated
                properties:
                  errors:
                    type: array
                    example:
                      -
                        message: Unauthenticated.
                        code: unauthenticated
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          example: Unauthenticated.
                        code:
                          type: string
                          example: unauthenticated
        403:
          description: 'You do not belong to this account.'
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      message: 'You do not belong to this account.'
                      code: forbidden
                properties:
                  errors:
                    type: array
                    example:
                      -
                        message: 'You do not belong to this account.'
                        code: forbidden
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          example: 'You do not belong to this account.'
                        code:
                          type: string
                          example: forbidden
        404:
          description: 'Environment not found.'
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      message: 'Resource not found.'
                      code: not_found
                properties:
                  errors:
                    type: array
                    example:
                      -
                        message: 'Resource not found.'
                        code: not_found
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          example: 'Resource not found.'
                        code:
                          type: string
                          example: not_found
        429:
          description: 'Rate limit exceeded. Check Retry-After header.'
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      message: 'Too many requests.'
                      code: rate_limited
                properties:
                  errors:
                    type: array
                    example:
                      -
                        message: 'Too many requests.'
                        code: rate_limited
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          example: 'Too many requests.'
                        code:
                          type: string
                          example: rate_limited
      tags:
        - Environments
    parameters:
      -
        in: path
        name: account_id
        description: 'The ID of the account.'
        example: 019dadf8-f051-7127-8382-de3ad4fbe86c
        required: true
        schema:
          type: string
      -
        in: path
        name: environment_id
        description: 'The ID of the environment.'
        example: 019db032-92b8-719e-964e-02ef04880acc
        required: true
        schema:
          type: string
  '/v1/accounts/{account_id}/vms':
    get:
      summary: 'List VMs'
      operationId: listVMs
      description: 'Returns all active VMs for the account, ordered by most recent first.'
      parameters:
        -
          in: query
          name: per_page
          description: 'Results per page (max 100).'
          example: 25
          required: false
          schema:
            type: integer
            description: 'Results per page (max 100).'
            example: 25
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 019db65d-ce21-70d1-985e-4fe079ab88fd
                      account_id: 019db65d-ce1f-710a-92f6-d136fefcfb4c
                      status: running
                      ready: false
                      ready_at: null
                      phase: null
                      error: null
                      port_mappings:
                        -
                          port: 3000
                          name: app
                          url: 'https://3000.vm.example.com'
                          protocol: https
                      last_activity_at: '2026-04-22T18:04:54.000000Z'
                      destroyed_at: null
                      created_at: '2026-04-22T18:04:54.000000Z'
                      updated_at: '2026-04-22T18:04:54.000000Z'
                    -
                      id: 019db65d-ce23-7136-97a1-15f31a598496
                      account_id: 019db65d-ce23-7136-97a1-15f319902b05
                      status: running
                      ready: false
                      ready_at: null
                      phase: null
                      error: null
                      port_mappings:
                        -
                          port: 3000
                          name: app
                          url: 'https://3000.vm.example.com'
                          protocol: https
                      last_activity_at: '2026-04-22T18:04:54.000000Z'
                      destroyed_at: null
                      created_at: '2026-04-22T18:04:54.000000Z'
                      updated_at: '2026-04-22T18:04:54.000000Z'
                  links:
                    first: null
                    last: null
                    prev: null
                    next: null
                  meta:
                    path: /
                    per_page: 25
                    next_cursor: null
                    prev_cursor: null
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/VirtualMachine'
                  links:
                    $ref: '#/components/schemas/PaginationLinks'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        401:
          description: 'Missing or invalid API token.'
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      message: Unauthenticated.
                      code: unauthenticated
                properties:
                  errors:
                    type: array
                    example:
                      -
                        message: Unauthenticated.
                        code: unauthenticated
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          example: Unauthenticated.
                        code:
                          type: string
                          example: unauthenticated
        403:
          description: 'You do not belong to this account.'
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      message: 'You do not belong to this account.'
                      code: forbidden
                properties:
                  errors:
                    type: array
                    example:
                      -
                        message: 'You do not belong to this account.'
                        code: forbidden
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          example: 'You do not belong to this account.'
                        code:
                          type: string
                          example: forbidden
      tags:
        - 'Virtual Machines'
    post:
      summary: 'Create a VM'
      operationId: createAVM
      description: "Boots a VM from an environment. The environment's manifest determines the platform, setup, and services; you don't hand-author AES. VMs boot asynchronously; poll `GET /vms/{vm}` until `ready` is true. If the environment has a ready snapshot, boot is fast (about 2 seconds). Otherwise setup runs fresh."
      parameters:
        -
          in: header
          name: Idempotency-Key
          description: ''
          example: optional-unique-request-id
          schema:
            type: string
      responses:
        201:
          description: 'VM created. Boot continues asynchronously; poll `GET /vms/{vm}` until `ready` is true.'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 019db65d-ce32-7065-96f4-1d6f67afb24f
                    account_id: 019db65d-ce31-7229-bb22-795e531085c9
                    status: running
                    ready: false
                    ready_at: null
                    phase: null
                    error: null
                    port_mappings:
                      -
                        port: 3000
                        name: app
                        url: 'https://3000.vm.example.com'
                        protocol: https
                    last_activity_at: '2026-04-22T18:04:54.000000Z'
                    destroyed_at: null
                    created_at: '2026-04-22T18:04:54.000000Z'
                    updated_at: '2026-04-22T18:04:54.000000Z'
                properties:
                  data:
                    $ref: '#/components/schemas/VirtualMachine'
        400:
          description: 'Raw manifest passed. The public API is environment-first.'
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      message: 'Raw manifests are not accepted. Boot VMs from an environment instead.'
                      code: manifest_not_accepted
                properties:
                  errors:
                    type: array
                    example:
                      -
                        message: 'Raw manifests are not accepted. Boot VMs from an environment instead.'
                        code: manifest_not_accepted
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          example: 'Raw manifests are not accepted. Boot VMs from an environment instead.'
                        code:
                          type: string
                          example: manifest_not_accepted
        401:
          description: 'Missing or invalid API token.'
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      message: Unauthenticated.
                      code: unauthenticated
                properties:
                  errors:
                    type: array
                    example:
                      -
                        message: Unauthenticated.
                        code: unauthenticated
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          example: Unauthenticated.
                        code:
                          type: string
                          example: unauthenticated
        403:
          description: 'You do not belong to this account.'
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      message: 'You do not belong to this account.'
                      code: forbidden
                properties:
                  errors:
                    type: array
                    example:
                      -
                        message: 'You do not belong to this account.'
                        code: forbidden
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          example: 'You do not belong to this account.'
                        code:
                          type: string
                          example: forbidden
        422:
          description: 'Validation failed.'
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      message: 'The environment_id field is required.'
                      code: validation_error
                properties:
                  errors:
                    type: array
                    example:
                      -
                        message: 'The environment_id field is required.'
                        code: validation_error
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          example: 'The environment_id field is required.'
                        code:
                          type: string
                          example: validation_error
        429:
          description: 'Rate limit exceeded. Check Retry-After header.'
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      message: 'Too many requests.'
                      code: rate_limited
                properties:
                  errors:
                    type: array
                    example:
                      -
                        message: 'Too many requests.'
                        code: rate_limited
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          example: 'Too many requests.'
                        code:
                          type: string
                          example: rate_limited
        503:
          description: 'No VM capacity available. Retry after a short delay.'
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      message: 'VM capacity temporarily unavailable. Retry in 30 seconds.'
                      code: capacity_exhausted
                properties:
                  errors:
                    type: array
                    example:
                      -
                        message: 'VM capacity temporarily unavailable. Retry in 30 seconds.'
                        code: capacity_exhausted
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          example: 'VM capacity temporarily unavailable. Retry in 30 seconds.'
                        code:
                          type: string
                          example: capacity_exhausted
      tags:
        - 'Virtual Machines'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                environment_id:
                  type: string
                  description: 'The environment to boot from. Required. Must belong to the same account.'
                  example: 019d8e44-e110-71f6-864b-8e91470dcc4a
                snapshot_id:
                  type: string
                  description: "Pin to a specific snapshot of this environment. Defaults to the environment's current `base_snapshot_id`. Must belong to the referenced environment."
                  example: snap-019d8e44-a1b2
                env:
                  type: object
                  description: "Per-boot environment variable overrides, merged into the manifest's `env` block before boot. Keys and values are strings; credentials (`GIT_TOKEN`, `ANTHROPIC_API_KEY`) are injected automatically and do not need to be supplied here."
                  example: null
                  properties: {  }
              required:
                - environment_id
    parameters:
      -
        in: path
        name: account_id
        description: 'The ID of the account.'
        example: 019dadf8-f051-7127-8382-de3ad4fbe86c
        required: true
        schema:
          type: string
  '/v1/accounts/{account_id}/vms/{vm_id}':
    get:
      summary: 'Get a VM'
      operationId: getAVM
      description: 'Returns the current state of a VM including its readiness, lifecycle phase, and port mappings.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 019db65d-ce3f-7385-8b72-9e4e9dc9ab82
                    account_id: 019db65d-ce3e-7231-bf87-ea5b182f56fd
                    status: running
                    ready: false
                    ready_at: null
                    phase: null
                    error: null
                    port_mappings:
                      -
                        port: 3000
                        name: app
                        url: 'https://3000.vm.example.com'
                        protocol: https
                    last_activity_at: '2026-04-22T18:04:54.000000Z'
                    destroyed_at: null
                    created_at: '2026-04-22T18:04:54.000000Z'
                    updated_at: '2026-04-22T18:04:54.000000Z'
                properties:
                  data:
                    $ref: '#/components/schemas/VirtualMachine'
        401:
          description: 'Missing or invalid API token.'
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      message: Unauthenticated.
                      code: unauthenticated
                properties:
                  errors:
                    type: array
                    example:
                      -
                        message: Unauthenticated.
                        code: unauthenticated
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          example: Unauthenticated.
                        code:
                          type: string
                          example: unauthenticated
        403:
          description: 'You do not belong to this account.'
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      message: 'You do not belong to this account.'
                      code: forbidden
                properties:
                  errors:
                    type: array
                    example:
                      -
                        message: 'You do not belong to this account.'
                        code: forbidden
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          example: 'You do not belong to this account.'
                        code:
                          type: string
                          example: forbidden
        404:
          description: 'VM not found.'
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      message: 'Resource not found.'
                      code: not_found
                properties:
                  errors:
                    type: array
                    example:
                      -
                        message: 'Resource not found.'
                        code: not_found
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          example: 'Resource not found.'
                        code:
                          type: string
                          example: not_found
      tags:
        - 'Virtual Machines'
    delete:
      summary: 'Destroy a VM'
      operationId: destroyAVM
      description: 'Permanently destroys a VM and releases its resources. This action is irreversible.'
      parameters: []
      responses:
        204:
          description: 'VM destroyed'
          content:
            text/plain:
              schema:
                type: string
                example: ''
        401:
          description: 'Missing or invalid API token.'
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      message: Unauthenticated.
                      code: unauthenticated
                properties:
                  errors:
                    type: array
                    example:
                      -
                        message: Unauthenticated.
                        code: unauthenticated
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          example: Unauthenticated.
                        code:
                          type: string
                          example: unauthenticated
        403:
          description: 'You do not belong to this account.'
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      message: 'You do not belong to this account.'
                      code: forbidden
                properties:
                  errors:
                    type: array
[...]
